@model List<TRIZMA.Models.agentsViewDb>


@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ID)</td>
        <td>
            <a href="/agents/Edit?id=@item.ID" style="color:forestgreen; padding-left:5px"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete", "agents", new { id = item.ID })" style="color:red; padding-left:8px"><i class="fa fa-power-off"></i></a>
        </td> 
        <td>@Html.DisplayFor(modelItem => item.agentID)</td>
        <td>@Html.DisplayFor(modelItem => item.agentName)</td>
        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
        <td>@Html.DisplayFor(modelItem => item.userType)</td>
        <td>@Html.DisplayFor(modelItem => item.titule)</td>
        <td><a href="@Url.Action("sendmailmessage", "uhsusercontrol", new { email = item.UserName, passwordb = item.passwordstring })" style="color:forestgreen; padding-left:5px"><i class="fa fa-arrow-right"></i> Send Email</a></td>
    </tr>
}
