


@if (ViewBag.userTypeID == 2)
{
    <li class="scroll active"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    <li class="scroll"><a target="_blank" href="@Url.Action("Index", "formsCRUD", new { projectID = 1, taskOrderID = 1, Int1 = 1})">Admin</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OMD-B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OMD-A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Equipment", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else if (ViewBag.ItemSelect == 1)
{
    <li class="scroll active"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OMD-B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OMD-A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Equipment", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else if (ViewBag.ItemSelect == 5)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll active"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OMD-B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OMD-A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Equipment", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

}
else if (ViewBag.ItemSelect == 2)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OMD-B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OMD-A360</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Equipment", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

}
else if (ViewBag.ItemSelect == 6)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OM-D B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OM-D A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("Equipment", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

}
else if (ViewBag.ItemSelect == 4)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OM-D B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OM-D A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Equipment", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

}
else if (ViewBag.ItemSelect == 7)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OM-D B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OM-D A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("uhsCH", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else if (ViewBag.ItemSelect == 10)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OM-D B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OM-D A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("uhsCH", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}

else if (ViewBag.ItemSelect == 11)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("b360", "uhsCH")">OM-D B360</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("a360", "uhsCH")">OM-D A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("uhsCH", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else if (ViewBag.ItemSelect == 12)
{
    <li class="scroll"><a href="@Url.Action("Home", "uhsCH")">Home</a></li>
    @*<li class="scroll"><a href="@Url.Action("District", "uhsCH")">District</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("omddistrict", "uhsCH")">OM-D District</a></li>*@
    @*<li class="scroll active"><a href="@Url.Action("b360", "uhsCH")">OM-D B360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("a360", "uhsCH")">OM-D A360</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Customer", "uhsCH")">Customer</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("uhsCH", "uhsCH")">Equipment</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Standards", "uhsCH")">Standards</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Reporting", "uhsCH")">Reporting</a></li>*@
    @*<li class="scroll"><a href="@Url.Action("Login", "Account")">Login</a></li>*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else if (ViewBag.ItemSelect == 989)
{

    <li class="scroll"><a href="@Url.Action("Login", "Account")"><span style="color:#01426A; padding-right:3px">|</span><span style="color:#F69240; font-size:12px"> LOGIN</span></a></li>
}