

@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Agiliti: Home Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/owl.carousel.css">
    <link rel="stylesheet" href="~/main/css/owl.theme.css">
    <link rel="stylesheet" href="~/main/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/main.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/form/all-type-forms.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- dropzone CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/dropzone/dropzone.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/alerts.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.print.min.css">

    <link rel="stylesheet" href="~/main/css/editor/select2.css">
    <link rel="stylesheet" href="~/main/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/main/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/main/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <!-- DataTables CSS -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/leaflet.css" />
    @*<link rel="stylesheet" href="~/main/css/data-table/bootstrap-table.css">
        <link rel="stylesheet" href="~/main/css/data-table/bootstrap-editable.css">*@
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/dist/style/loadme.css">
    <link rel="stylesheet" href="~/main/css/modals.css">
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />

    <link href="~/css/skitter.css" rel="stylesheet" />
   
    @*<link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />*@
    <!-- tabs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/tabs.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/responsive.css">
    @*<link href="~/css/datepicker.min.css" rel="stylesheet" type="text/css">*@

    <script src="~/js/jquery.min.js"></script>
    <!-- modernizr JS
        ============================================ -->
    <script src="~/main/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>

        /*.buttonb {
            margin: 0 auto;
            font-size: 15px;
            padding: 1.25rem 2.5rem;
            display: block;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #009ac9;
            color: #009ac9;
            font-weight: bold;
            min-height: 80px;
            max-height: 80px;
            min-width: 200px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .buttonb:hover {
                background-color: #009ac9;
                color: #ffffff;
                border-color: #009ac9;
            }*/
        .buttonb {
            /*margin: 0 auto;*/
            font-size: 15px;
            text-align:left;
            padding-left:18px;
            /*padding: 1.25rem 2.5rem;*/
            display: block;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #009ac9;
            color: #009ac9;
            font-weight: bold;
            min-height: 48px;
            max-height: 48px;
            min-width: 280px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .buttonb:hover {
                background-color: #009ac9;
                color: #ffffff;
                border-color: #009ac9;
            }

        .responsiveimg {
            width: 100%;
            height: auto;
        }

        .startbtn {
            display: none;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .docidstore {
            display: none;
        }

        .thStyle1 {
            font-size: smaller;
            text-align: center;
            color: white;
            min-width: 30px;
        }

        .thStyle2 {
            font-size: x-small;
            color: white;
        }

        .thStyle3 {
            text-align: center;
            font-size: x-small;
            min-width: 25px;
            max-width: 25px;
            color: white;
        }

        .thStyle4 {
            text-align: center;
            font-size: x-small;
            min-width: 25px;
            max-width: 25px;
            color: lightblue;
        }



        .tdStyle1 {
            font-size: smaller;
            text-align: center;
            color: dodgerblue;
            background-color: #F5F5F5;
            min-width: 30px;
        }

        .tdStyle2 {
            font-size: smaller;
        }

        .tdStyle3 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tdStyle4 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
            color: white;
        }

        .tdStyle5 {
            text-align: center;
            font-size: small;
            background-color: #F8F8F8;
            min-width: 25px;
            max-width: 25px;
        }

        .tdStyle6 {
            text-align: center;
            font-size: small;
            background-color: #F8F8F8;
            color: #F8F8F8;
            min-width: 25px;
            max-width: 25px;
        }




        .tfstyle1 {
            font-size: smaller;
            text-align: center;
            /*background-color:darkgray;*/
            color: white;
            min-width: 30px;
        }

        .tfstyle2 {
            font-size: x-small;
            text-align: right;
            color: dodgerblue;
        }

        .tfstyle3 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tfstyle4 {
            color: white;
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tfstyle5 {
            background-color: yellow;
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }


        .tab {
            overflow: hidden;
            width: 100%;
            text-align: center;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: lightcoral;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: lightblue;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            border-top: none;
        }

        .itcad {
            background-color: lightblue !important;
        }

        .itcac {
            color: #367EAD !important;
        }

        .itcae {
            color: lightblue !important;
        }

        .itcaf {
            color: #367EAD !important;
        }

        .itcak {
            color: #F69240 !important;
        }

        .ithae {
            font-size: smaller;
            text-align: center;
            color: #367EAD;
            border-bottom: solid;
            border-bottom-width: thin;
            border-bottom-color: lightgray;
        }

        .itmapdiv {
            background-color: white !important;
        }

        input[type='checkbox'] {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 2px;
            border: 1px solid #555;
        }

            input[type='checkbox']:checked {
                background: #29a329;
            }

        footer {
            display: none;
        }

        .responsiveb {
            width: 100%;
            height: auto;
        }

        .docidstore {
            display: none;
        }

        .startbtn {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <!-- COMMON IDENTIFIERS -->
    @Html.Hidden("deldctpid")
    @Html.Hidden("mod1010005")

    @Html.Hidden("sID")
    @Html.Hidden("scrdt")
    @Html.Hidden("scompid")
    @Html.Hidden("scrusid")
    @Html.Hidden("scompld")
    @Html.Hidden("sdateed")
    <!-- Start Left menu area -->
    @Html.Action("_left_sidebar_pro", "uhsCH")
    <!-- End Left menu area -->

    <div class="all-content-wrapper">
        <div class="lckbckscr">
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        @Html.Action("_header_top_wraper", "uhsCH", new { tid = ViewBag.svctr })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            @Html.Action("_mobile_menu_nav", "uhsCH")
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />


            <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="income-dashone-total reso-mg-b-30">
                                <div class="income-dashone-pro">
                                    <h4><span class="itcac">Application Module </span><span class="itcak"> Select </span></h4>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <br />
                            <div class="income-dashone-total reso-mg-b-30">
                                <div class="income-dashone-pro">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="startbtn" id="Sdistrict" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhsdistrict/District?projectID=13&taskOrderID=53&Int1=1'" class="buttonb">District <span style="color:#F69240"> Cadence</span></button>

                                            </div>
                                            <div class="startbtn" id="Sa360" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhsa360/a360?projectID=13&taskOrderID=55&Int1=1'" class="buttonb">Asset360 <span style="color:#F69240"> Cadence</span></button>

                                            </div>
                                            <div class="startbtn" id="Sb360" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhsb360/b360?projectID=13&taskOrderID=56&Int1=1'" class="buttonb">BioMed360 <span style="color:#F69240"> Cadence</span></button>

                                            </div>
                                            <div class="startbtn" id="Scoe" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhscoeops/coecadence?projectID=13&taskOrderID=58&Int1=1'" class="buttonb">COE Operations <span style="color:#F69240"> Cadence</span></button>

                                            </div>
                                            <div class="startbtn" id="Ssurserv" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhssurserv/sscadence?projectID=13&taskOrderID=57&Int1=1'" class="buttonb">Surgical Services <span style="color:#F69240"> Cadence</span></button>

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="startbtn" id="Sa3form" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhsworktask/Index?projectID=13&taskOrderID=65&Int1=1'" class="buttonb">A3 Form <span style="color:#F69240"> Document</span></button>
                                            </div>
                                            <div class="startbtn" id="SinvMap" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/aglinvMap?projectID=15&taskOrderID=66&Int1=1'" class="buttonb">Inventory <span style="color:#F69240"> Mapping</span></button>
                                            </div>
                                            <div class="startbtn" id="sscyclecount" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="location.href = '/uhssscyccntm/Index?projectID=14&taskOrderID=64&Int1=1'" class="buttonb">Surgical Services <span style="color:#F69240"> Cycle Count</span></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br />
                            <div class="income-dashone-total reso-mg-b-30">
                                <div class="income-dashone-pro">
                                    <div class="startbtn" id="Sstandards" style="display: inline-block; padding-bottom:4px">
                                        <button onclick="location.href = '/uhsvwpstandard/standards'" class="buttonb">VWP Standards</button>
                                    </div>
                                    <div class="startbtn" id="SQuality" style="display: inline-block; padding-bottom:4px">
                                        <button onclick="location.href = '/uhsa360/Quality'" class="buttonb">Quality</button>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="profile-info-inner">
                                <div class="profile-img">

                                    <div id="content">
                                        <div class="skitter-large-box">
                                            <div class="skitter skitter-large with-dots">
                                                <ul>
                                                    <li>
                                                        <img src="~/images/slider/slider7.jpg" class="circles" />
                                                        <div class="label_text">
                                                            <p style="font-size:18px; font-weight:bold"><span class="itcae">DISTRICT</span><span style="color:white"> Assessment Control System</span></p>
                                                            <p>Access and modify data with District Assessment Tool.<br>Schedule and control your assessment procedures to reach standards defined.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="~/images/slider/slider8.jpg" class="circles" />
                                                        <div class="label_text">
                                                            <p style="font-size:18px; font-weight:bold"><span class="itcae">Equipment</span><span style="color:white"> Inventory Information System</span></p>
                                                            <p>Quick access to Inventory data. Info tool with complete knowledge of inventory figures. Organize and assist equipment requests, alert & reservation tool.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="~/images/slider/slider10.jpg" class="circles" />
                                                        <div class="label_text">
                                                            <p style="font-size:18px; font-weight:bold"><span class="itcae">Visual </span><span style="color:white"> Work Place Standards</span></p>
                                                            <p>Visual work place standards that need to be followed to organize a district. District leadership is expected to continually improve the work place to reach the standards specified on this document. These standards apply to all UHS districts.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="~/images/slider/slider11.jpg" class="circles" />
                                                        <div class="label_text">
                                                            <p style="font-size:18px; font-weight:bold"><span class="itcae">Live Visual Data </span><span style="color:white"> Reporting Services</span></p>
                                                            <p>Access Live Reporting Services, html, PBI, ...</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="profile-details-hr">

                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a href="#description">Activity</a></li>
                                    <li><a href="#reviews"> VWP Community</a></li>
                                    <li><a href="#INFORMATION">Whats New?</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            
                                                                <br />
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="white-box">
                                                                        <h3 class="box-title"><span style="color:#0076A8">Figures</span></h3>
                                                                        <br />
                                                                        <ul class="basic-list">
                                                                            <li><span style="color:#F69240">Cadence:</span><span style="color:#0076A8"> District</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-danger label-1 label">95.8%</span></span></span></li>
                                                                            <li><span style="color:#F69240">Cadence:</span><span style="color:#0076A8"> Asset360</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-danger label-1 label">95.8%</span></span></span></li>
                                                                            <li><span style="color:#F69240">Cadence:</span><span style="color:#0076A8"> BioMed360</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-danger label-1 label">95.8%</span></span></span></li>
                                                                            <li><span style="color:#F69240">Cadence:</span><span style="color:#0076A8"> COE Ops</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-danger label-1 label">95.8%</span></span></span></li>
                                                                            <li><span style="color:#F69240">Cadence:</span><span style="color:#0076A8"> Surgical Services</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-danger label-1 label">95.8%</span></span></span></li>
                                                                          
                                                                        </ul>
                                                                        <br /><br />
                                                                        <ul class="basic-list">
                                                                            <li><span style="color:#F69240">Document</span><span style="color:#0076A8"> GembaWalk List</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-default label-1 label">95.8%</span></span></span></li>
                                                                            <li><span style="color:#F69240">Document</span><span style="color:#0076A8"> 6S List</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-default label-1 label">95.8%</span></span></span></li>
                                                                            <li><span style="color:#F69240">Document</span><span style="color:#0076A8"> Bi-Annual Assessment</span><span class="pull-right"><span style="padding-right:2px"><span class="label-warning label-1 label">95.8%</span></span><span><span class="label-default label-1 label">95.8%</span></span></span></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="white-box res-mg-t-30 table-mg-t-pro-n">
                                                                        <h3 class="box-title">Visits from countries</h3>
                                                                        <ul class="country-state">
                                                                            <li>
                                                                                <h2><span class="counter">1250</span></h2> <small>From Australia</small>
                                                                                <div class="pull-right">75% <i class="fa fa-level-up text-danger ctn-ic-1"></i></div>
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-danger ctn-vs-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:75%;"> <span class="sr-only">75% Complete</span></div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <h2><span class="counter">1050</span></h2> <small>From USA</small>
                                                                                <div class="pull-right">48% <i class="fa fa-level-up text-success ctn-ic-2"></i></div>
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-info ctn-vs-2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:48%;"> <span class="sr-only">48% Complete</span></div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <h2><span class="counter">6350</span></h2> <small>From Canada</small>
                                                                                <div class="pull-right">55% <i class="fa fa-level-up text-success ctn-ic-3"></i></div>
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-success ctn-vs-3" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:55%;"> <span class="sr-only">55% Complete</span></div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <h2><span class="counter">950</span></h2> <small>From India</small>
                                                                                <div class="pull-right">33% <i class="fa fa-level-down text-success ctn-ic-4"></i></div>
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-success ctn-vs-4" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:33%;"> <span class="sr-only">33% Complete</span></div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <h2><span class="counter">3250</span></h2> <small>From Bangladesh</small>
                                                                                <div class="pull-right">60% <i class="fa fa-level-up text-success ctn-ic-5"></i></div>
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-inverse ctn-vs-5" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">60% Complete</span></div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            
                                                        </div>
                                                    </div>
                          
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-tab-list tab-pane fade" id="reviews">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <div class="review-content-section">
                                                    <div class="chat-discussion" style="height: 480px; overflow-y: scroll">
                                                        <div class="pull-left col-lg-9">
                                                            <div class="chat-message">
                                                                <div class="profile-hdtc">
                                                                    <img class="message-avatar" src="~/main/img/contact/A360.png" alt="">
                                                                </div>
                                                                <div class="message">
                                                                    <a class="message-author" href="#"> Scott Harvey </a>
                                                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                    <span class="message-content">
                                                                        You did not complete your daily tasks! Please do.
                                                                    </span>
                                                                    <div class="m-t-md mg-t-10">
                                                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                    </div>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <div class="message">
                                                                        <a class="message-author" href="#"> Scott Harvey </a>
                                                                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                        <span class="message-content">
                                                                            You did not complete your daily tasks! Please do.
                                                                        </span>
                                                                        <div class="m-t-md mg-t-10">
                                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                            <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                            <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="pull-right col-lg-8" style="padding-right:24px">
                                                            <div class="row">
                                                                <div class="chat-message">
                                                                    <div class="profile-hdtc">
                                                                        <img class="message-avatar" src="~/main/img/contact/A360.png" alt="">
                                                                    </div>
                                                                    <div class="message" style="background-color:antiquewhite">
                                                                        <a class="message-author" href="#"> Scott Harvey </a>
                                                                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                        <span class="message-content">
                                                                            You did not complete your daily tasks!
                                                                        </span>
                                                                        <div class="m-t-md mg-t-10">
                                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                            <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                            <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="pull-left col-lg-9">
                                                            <div class="chat-message">
                                                                <div class="profile-hdtc">
                                                                    <img class="message-avatar" src="~/main/img/contact/A360.png" alt="">
                                                                </div>
                                                                <div class="message" style="background-color:aliceblue">
                                                                    <a class="message-author" href="#"> Scott Harvey </a>
                                                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                    <span class="message-content">
                                                                        You did not complete your daily tasks! Please do.
                                                                    </span>
                                                                    <div class="m-t-md mg-t-10">
                                                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pull-left col-lg-9">
                                                            <div class="chat-message">
                                                                <div class="profile-hdtc">
                                                                    <img class="message-avatar" src="~/main/img/contact/A360.png" alt="">
                                                                </div>
                                                                <div class="message" style="background-color:aliceblue">
                                                                    <a class="message-author" href="#"> Scott Harvey </a>
                                                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                    <span class="message-content">
                                                                        You did not complete your daily tasks! Please do.
                                                                    </span>
                                                                    <div class="m-t-md mg-t-10">
                                                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pull-left col-lg-9">
                                                            <div class="chat-message">
                                                                <div class="profile-hdtc">
                                                                    <img class="message-avatar" src="~/main/img/contact/A360.png" alt="">
                                                                </div>
                                                                <div class="message" style="background-color:aliceblue">
                                                                    <a class="message-author" href="#"> Scott Harvey </a>
                                                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                    <span class="message-content">
                                                                        You did not complete your daily tasks! Please do.
                                                                    </span>
                                                                    <div class="m-t-md mg-t-10">
                                                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pull-left col-lg-9">
                                                            <div class="chat-message">
                                                                <div class="profile-hdtc">
                                                                    <img class="message-avatar" src="~/main/img/contact/A360.png" alt="">
                                                                </div>
                                                                <div class="message" style="background-color:aliceblue">
                                                                    <a class="message-author" href="#"> Scott Harvey </a>
                                                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                    <span class="message-content">
                                                                        You did not complete your daily tasks! Please do.
                                                                    </span>
                                                                    <div class="m-t-md mg-t-10">
                                                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <br />
                                                <hr />
                                                
                                                        <div class="row">
                                                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-top:5px">
                                                                        <span style="font-size:12px; color:#0076A8">Module:</span>
                                                                    </div>
                                                                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                                                        <select class="form-control col-lg-12" style="max-height:32px">
                                                                            <option value="0">-</option>
                                                                            <option value="1">Proba</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="padding-top:2px">
                                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-top:5px">
                                                                        <span style="font-size:12px; color:#0076A8">Location:</span>
                                                                    </div>
                                                                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                                                        <select class="form-control col-lg-12" style="max-height:32px">
                                                                            <option value="0">-</option>
                                                                            <option value="1">Proba</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="padding-top:2px">
                                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-top:5px">
                                                                        <span style="font-size:12px; color:#0076A8">User:</span>
                                                                    </div>
                                                                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                                                        <select class="form-control col-lg-12" style="max-height:32px">
                                                                            <option value="0">-</option>
                                                                            <option value="1">Proba</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                                <textarea class="form-control col-lg-12" rows="5" placeholder="Type message (up to 1000 char) ..."></textarea>
                                                                <div class="row">
                                                                    <div class="col-lg-12" style="padding-top:6px">
                                                                        <button class="btn btn-success"><i class="fa fa-send"></i><span style="padding-left:8px">Send</span></button>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                   


                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="skill-title">
                                                                <h2>In Development!</h2>
                                                                <hr />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <!-- lckbckscr End -->
    </div>
    <!-- allpagewraper End -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- jquery
        ============================================ -->
    <script src="~/main/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/main/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/main/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/main/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/main/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/main/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/main/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/main/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/main/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/main/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/main/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/main/js/metisMenu/metisMenu-active.js"></script>
    <!-- Charts JS
        ============================================ -->
    @*<script src="~/main/js/charts/Chart.js"></script>*@
    @*<script src="~/main/js/charts/bar-chart.js"></script>*@

    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <!-- data table JS
        ============================================ -->
    @*<script src="~/main/js/data-table/bootstrap-table.js"></script>
        <script src="~/main/js/data-table/tableExport.js"></script>
        <script src="~/main/js/data-table/data-table-active.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-resizable.js"></script>
        <script src="~/main/js/data-table/colResizable-1.5.source.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-export.js"></script>*@
    <!--  editable JS
        ============================================ -->
    <script src="~/main/js/editable/jquery.mockjax.js"></script>
    <script src="~/main/js/editable/mock-active.js"></script>
    <script src="~/main/js/editable/select2.js"></script>
    <script src="~/main/js/editable/moment.min.js"></script>
    <script src="~/main/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/main/js/editable/bootstrap-editable.js"></script>
    <script src="~/main/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/main/js/chart/jquery.peity.min.js"></script>
    <script src="~/main/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/main/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/main/js/icheck/icheck.min.js"></script>
    <script src="~/main/js/icheck/icheck-active.js"></script>
    <script src="~/main/js/form-validation/jquery.form.min.js"></script>
    <script src="~/main/js/form-validation/jquery.validate.min.js"></script>
    <script src="~/main/js/form-validation/form-active.js"></script>
    <!-- sparkline JS
       ============================================ -->
    <script src="~/main/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/main/js/sparkline/sparkline-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/main/js/chart/jquery.peity.min.js"></script>
    <script src="~/main/js/chart/peity-active.js"></script>
    <!-- dropzone JS
        ============================================ -->
    <script src="~/main/js/dropzone/dropzone.js"></script>
    <!-- confirm JS
        ============================================ -->
    <script src="~/js/jquery-confirm.min.js"></script>
    @*<script src="~/dist/js/datepicker.min.js"></script>*@
    @*<script src="~/js/jquery.datetimepicker.js"></script>*@


    <!-- tab JS
        ============================================ -->
    <script src="~/main/js/tab.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/main/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/main/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <!--<script src="/main/js/tawk-chat.js"></script>-->
    <script src="~/lib/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.startbtn').hide();
            var data1 = @Html.Raw(Json.Encode(@ViewBag.preAgentT));
            $.each(data1, function (ID, data1) {
                var it1 = data1.ID;
                if (it1 == 53) {
                    $("#Sdistrict").show().css('visibility', 'visible');
                    $("#Sstandards").show().css('visibility', 'visible');
                    //$("#SQuality").show();
                } else if (it1 == 55) {
                    $("#Sa360").show().css('visibility', 'visible');
                } else if (it1 == 56) {
                    $("#Sb360").show().css('visibility', 'visible');
                } else if (it1 == 57) {
                    $("#Ssurserv").show().css('visibility', 'visible');
                } else if (it1 == 58) {
                    $("#Scoe").show().css('visibility', 'visible');
                } else if (it1 == 64) {
                    $("#sscyclecount").show().css('visibility', 'visible');
                } else if (it1 == 65) {
                    $("#Sa3form").show().css('visibility', 'visible');
                } else if (it1 == 66) {
                    $("#SinvMap").show().css('visibility', 'visible');
                }
            });
        });
    </script>

    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.skitter.min.js"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('.skitter-large').skitter({
                interval: 5000,
                responsive: {
                    small: {
                        animation: 'fade',
                        max_width: 768,
                        suffix: '-small'
                    },
                    medium: {
                        animation: 'directionRight',
                        max_width: 1024,
                        suffix: '-medium'
                    }
                }
            });
        });
    </script>
    <script src="~/js/skitterapp.js"></script>

    <script>
        // tooltip demo
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
        // popover demo
        $("[data-toggle=popover]").popover();
    </script>
</body>

</html>