@model List<TRIZMA.Models.UHSWEBAADvDb>

@foreach (var item in Model)
{
    <div class="showdist col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" id="@item.ID">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="color:#F69240">District: </span><span style="color:#0076A8"><b> @item.dist</b></span>
                <span class="pull-right">
                    <span style="color:lightsalmon; font-size:smaller">Region: </span><span style="color:#0076A8; font-size:smaller"> @item.region</span><span style="color:white"> .. </span>
                    <span style="color:lightsalmon; font-size:smaller">Division: </span><span style="color:#0076A8; font-size:smaller"> @item.divNm</span><span style="color:white"> .. </span>
                    @*<span style="color:lightsalmon; font-size:smaller">DOD: </span><span style="color:#0076A8; font-size:smaller"> @item.DOD</span><span style="color:white"> .. </span>
                    <span style="color:lightsalmon; font-size:smaller">OMD: </span><span style="color:#0076A8; font-size:smaller">@item.OMD</span>*@

                </span>
            </div>
            <!-- /.panel-heading -->
        </div>
                
                
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-xs-12" style="padding-top:2px">
                        <button onclick="location.href='/uhscoeops/getEditPar1010010?dctp=1010010&id1=@item.ID&id2=1&id3=null'" class="btn btn-default col-lg-12" style="min-height:40px"><span style="color:#F69240">COE Operations </span><span style="color:#0076A8; padding-right:12px"> Cadence</span><span style="color:#00966C; padding-top:5px"><i class='fa fa-arrow-circle-right' style='transform:scale(1.2)'></i></span></button>
                        
                            <table class="table table-hover table-striped" style="font-size:14px">
                                <tbody>
                                    <tr>
                                        @if (item.omdch1 == 0)
                {
                        <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">D: </td>
                        <td style="font-size:smaller; color:red"> Due: @item.dateDT</td>
}
else if (item.omdch1 == 1)
{
                        <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">D: </td>
                        <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
}
                                    </tr>
                                    <tr>
                                        @if (item.omdch2 == 0)
                {
                        <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">W: </td>
                        <td style="font-size:smaller; color:red"> Due: @item.dtby1</td>
}
else if (item.omdch2 == 1)
{
                        <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">W: </td>
                        <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
}
                                    </tr>
                                    <tr>
                                        @if (item.omdch6 == 0)
                {
                        <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">BW: </td>
                        <td style="font-size:smaller; color:red"> Due: @item.dtby6</td>
}
else if (item.omdch6 == 1)
{
                        <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">BW: </td>
                        <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
}
                                    </tr>
                                    <tr>
                                        @if (item.omdch3 == 0)
                {
                        <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">M: </td>
                        <td style="font-size:smaller; color:red"> Due: @item.dtby2</td>
}
else if (item.omdch3 == 1)
{
                        <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">M: </td>
                        <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
}
                                    </tr>
                                    <tr>
                                        @if (item.omdch4 == 0)
                {
                        <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">Q: </td>
                        <td style="font-size:smaller; color:red"> Due: @item.dtby3</td>
}
else if (item.omdch4 == 1)
{
                        <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                        <td style="font-size:smaller; text-align:right; color:#0076A8; padding-right:5px">Q: </td>
                        <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
}
                                    </tr>
                                </tbody>
                            </table>
                        
                        
                    </div>
                    <div class="col-lg-8 col-md-6 col-xs-12">
                        
                       
                        <div align="center" style="font-size:11px"><span style="color:#F69240">COE Operations </span><span style="color:#0076A8"> Cadence Success by Month</span></div>
                        <canvas id="@item.ID MC" height="124"></canvas>
                        @*<div id="@item.IDc MC" style="max-height:248px"></div>*@
                    </div>
                </div>
            
            <!-- /.panel-body -->
        <br />
        <!-- /.panel -->
    </div>

}

