

@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Agiliti: COE Ops Cadence</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/owl.carousel.css">
    <link rel="stylesheet" href="~/main/css/owl.theme.css">
    <link rel="stylesheet" href="~/main/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/main.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/form/all-type-forms.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- dropzone CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/dropzone/dropzone.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/alerts.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.print.min.css">

    <link rel="stylesheet" href="~/main/css/editor/select2.css">
    <link rel="stylesheet" href="~/main/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/main/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/main/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <!-- DataTables CSS -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/leaflet.css" />
    @*<link rel="stylesheet" href="~/main/css/data-table/bootstrap-table.css">
        <link rel="stylesheet" href="~/main/css/data-table/bootstrap-editable.css">*@
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/dist/style/loadme.css">
    <link rel="stylesheet" href="~/main/css/modals.css">
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />

    <link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <!-- tabs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/tabs.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/responsive.css">
    @*<link href="~/css/datepicker.min.css" rel="stylesheet" type="text/css">*@

    <script src="~/js/jquery.min.js"></script>
    <!-- modernizr JS
        ============================================ -->
    <script src="~/main/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            /*padding-top: 10px;*/ /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
        }

        .modalb {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 110px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modalb-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
        }


        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        /* The Close Button */
        .closeb {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closeb:hover,
            .closeb:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .closec {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closec:hover,
            .closec:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .closed {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closed:hover,
            .closed:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .close05d {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close05d:hover,
            .close05d:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .close05w {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close05w:hover,
            .close05w:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .docidstore {
            display: none;
        }

        .thStyle1 {
            font-size: smaller;
            text-align: center;
            color: white;
            min-width: 30px;
        }

        .thStyle2 {
            font-size: x-small;
            color: white;
        }

        .thStyle3 {
            text-align: center;
            font-size: x-small;
            min-width: 25px;
            max-width: 25px;
            color: white;
        }

        .thStyle4 {
            text-align: center;
            font-size: x-small;
            min-width: 25px;
            max-width: 25px;
            color: lightblue;
        }



        .tdStyle1 {
            font-size: smaller;
            text-align: center;
            color: dodgerblue;
            background-color: #F5F5F5;
            min-width: 30px;
        }

        .tdStyle2 {
            font-size: smaller;
        }

        .tdStyle3 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tdStyle4 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
            color: white;
        }

        .tdStyle5 {
            text-align: center;
            font-size: small;
            background-color: #F8F8F8;
            min-width: 25px;
            max-width: 25px;
        }

        .tdStyle6 {
            text-align: center;
            font-size: small;
            background-color: #F8F8F8;
            color: #F8F8F8;
            min-width: 25px;
            max-width: 25px;
        }




        .tfstyle1 {
            font-size: smaller;
            text-align: center;
            /*background-color:darkgray;*/
            color: white;
            min-width: 30px;
        }

        .tfstyle2 {
            font-size: x-small;
            text-align: right;
            color: dodgerblue;
        }

        .tfstyle3 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tfstyle4 {
            color: white;
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tfstyle5 {
            background-color: yellow;
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }


        .tab {
            overflow: hidden;
            width: 100%;
            text-align: center;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: lightcoral;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: lightblue;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            border-top: none;
        }

        .itcad {
            background-color: lightblue !important;
        }

        .itcac {
            color: #367EAD !important;
        }

        .itcae {
            color: lightblue !important;
        }

        .itcaf {
            color: #367EAD !important;
        }

        .itcak {
            color: #F69240 !important;
        }

        .ithae {
            font-size: smaller;
            text-align: center;
            color: #367EAD;
            border-bottom: solid;
            border-bottom-width: thin;
            border-bottom-color: lightgray;
        }

        .itmapdiv {
            background-color: white !important;
        }

        input[type='checkbox'] {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 2px;
            border: 1px solid #555;
        }

            input[type='checkbox']:checked {
                background: #29a329;
            }

        footer {
            display: none;
        }

        .responsiveb {
            width: 100%;
            height: auto;
        }

        .docidstore {
            display: none;
        }
    </style>
</head>

<body>
    <!-- COMMON IDENTIFIERS -->
    @Html.Hidden("deldctpid")
    @Html.Hidden("mod1010005")

    @Html.Hidden("sID")
    @Html.Hidden("scrdt")
    @Html.Hidden("scompid")
    @Html.Hidden("scrusid")
    @Html.Hidden("scompld")
    @Html.Hidden("sdateed")
    <!-- Start Left menu area -->
    @Html.Action("_left_sidebar_pro", "uhsCH")
    <!-- End Left menu area -->

    <div class="all-content-wrapper">
        <div class="lckbckscr">

            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        @Html.Action("_header_top_wraper", "uhsCH", new { tid = ViewBag.svctr })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            @Html.Action("_mobile_menu_nav", "uhsCH")
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <!-- Single pro tab review Start-->
            <!-- income order visit user Start -->
            <div class="income-order-visit-user-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="income-dashone-total reso-mg-b-30">
                                <div class="income-dashone-pro">
                                    <h4><span class="itcac">COE Ops </span><span class="itcak"> Cadence </span></h4>
                                    <span class="itcac" style="font-size:13px">@ViewBag.headdef1 </span><span class="itcac" style="font-size:13px">: @ViewBag.headdef2</span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="income-dashone-total reso-mg-b-30">
                                <div class="income-dashone-pro">
                                    <div class="income-rate-total">
                                        <div class="price-edu-rate">
                                            <div id="cnuptot" style="color:#0076A8; font-size:22px">@ViewBag.countTotal</div>
                                        </div>

                                    </div>
                                    <div class="income-range">
                                        <span class="pull-left" id="cntAll">Total Districts</span>
                                        <a href="/uhscoeops/coecadence?projectID=13&taskOrderID=58&Int1=1" onmouseover="enlargea(1)" onmouseout="enlargeb()">
                                            <span class="income-percentange bg-green">
                                                <span id="cnuptot" class="counter">100</span>% <i class="fa fa-bolt"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="income-dashone-total res-mg-t-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                                <div class="income-dashone-pro">
                                    <div class="income-rate-total">
                                        <div class="price-edu-rate">
                                            <div id="cnupgod" style="color:forestgreen; font-size:22px">@ViewBag.countGood</div>
                                        </div>

                                    </div>
                                    <div class="income-range visitor-cl">
                                        <span id="cntGood">Districts Completed!</span>
                                        <a href="/uhscoeops/coecadence?projectID=13&taskOrderID=58&Int1=2" onmouseover="enlargea(2)" onmouseout="enlargeb()">
                                            <span class="income-percentange bg-blue">
                                                <span id="pcngod" class="counter">@ViewBag.cntperc%</span><i class="fa fa-level-up"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="income-dashone-total res-mg-t-30 dk-res-t-pro-30">
                                <div class="income-dashone-pro">
                                    <div class="income-rate-total">
                                        <div class="price-edu-rate">
                                            <div id="cnupbad" style="color:red; font-size:22px">@ViewBag.countBad</div>
                                        </div>

                                    </div>
                                    <div class="income-range low-value-cl">
                                        <span id="cntBad">Districts Due!</span>
                                        <a href="/uhscoeops/coecadence?projectID=13&taskOrderID=58&Int1=3" onmouseover="enlargea(3)" onmouseout="enlargeb()">
                                            <span class="income-percentange bg-purple">
                                                <span id="pcnbad" class="counter">@ViewBag.cntperc2%</span><i class="fa fa-level-down"></i>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- income order visit user End -->
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="google-maps-area mg-b-15">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responsiveb">
                                            <div class="sparkline8-list responsive-mg-b-30">
                                                <div class="sparkline8-hd">
                                                    <div class="main-sparkline8-hd">
                                                        <h5><span class="itcac">Map: </span><span class="itcak"> COE Locations </span></h5>

                                                    </div>
                                                </div>
                                                <div class="sparkline8-hd">
                                                    <div class="google-map-single responsiveb">
                                                        <div id="mapid5" style="width:100%; height: 560px; position: relative; z-index:0"></div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="row">

                            <div class="google-maps-area mg-b-15">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="sparkline8-list responsive-mg-b-30">
                                                <div class="sparkline8-hd">
                                                    <div class="main-sparkline8-hd">
                                                        <h5><span class="itcac">Stats </span><span class="itcak"> Numbers: </span></h5>
                                                        
                                                        @foreach (var item in ViewBag.pageData)
                                                        {
                                                            <div class="table-responsive wd-tb-cr">
                                                                <table class="table table-striped table-hover table-responsive">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Task:</th>
                                                                            <th>D:</th>
                                                                            <th>W:</th>
                                                                            <th>BW:</th>
                                                                            <th>M:</th>
                                                                            <th>Q:</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody style="font-size:12px">
                                                                        <tr>
                                                                            <td><i class="fa fa-tasks" style="color:forestgreen; transform:scale(1.2)"></i><span style="padding-left:12px">COE Cadence</span></td>
                                                                            <td>@item.modInt01</td>
                                                                            <td>@item.modInt03</td>
                                                                            <td>@item.modInt09</td>
                                                                            <td>@item.modInt05</td>
                                                                            <td>@item.modInt07</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="table-responsive wd-tb-cr">
                                                                <table class="table table-striped table-hover table-responsive">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Task:</th>
                                                                            <th>D:</th>
                                                                            <th>W:</th>
                                                                            <th>BW:</th>
                                                                            <th>M:</th>
                                                                            <th>Q:</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody style="font-size:12px">
                                                                        <tr>
                                                                            <td><i class="fa fa-tasks" style="color:red; transform:scale(1.2)"></i><span style="padding-left:12px">COE Cadence</span></td>
                                                                            <td>@item.modInt02</td>
                                                                            <td>@item.modInt04</td>
                                                                            <td>@item.modInt10</td>
                                                                            <td>@item.modInt06</td>
                                                                            <td>@item.modInt08</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="google-maps-area mg-b-15">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="sparkline8-list responsive-mg-b-30">
                                                <div class="sparkline8-hd">
                                                    <div class="main-sparkline8-hd">
                                                        <h5><span class="itcac">Documents </span><span class="itcak"> Panel </span></h5>
                                                        <br />
                                                        <div class="list-group">

                                                            <a class="list-group-item" onclick="PopupCenterDual('https://app.powerbi.com/view?r=eyJrIjoiM2M4NTAyYTgtYjZlMy00NjYxLWEzNzgtZDhlZDBkMzgxMTM5IiwidCI6IjgzZjdmMGY3LTA5ODktNDNiZS05ODE1LTNhMTIwNTUwY2MwYSIsImMiOjh9','','1200','736');" href="javascript:void(0);">
                                                                <i class="fa fa-tasks fa-fw" style="color:#F69240"></i><span style="color:#0076A8"> COE Operations Monthly Report</span>
                                                                <span class="pull-right text-muted small">
                                                                    <em>06/28/2018</em>
                                                                </span>
                                                            </a>
                                                            <a class="list-group-item" onclick="PopupCenterDual('https://app.powerbi.com/view?r=eyJrIjoiM2M4NTAyYTgtYjZlMy00NjYxLWEzNzgtZDhlZDBkMzgxMTM5IiwidCI6IjgzZjdmMGY3LTA5ODktNDNiZS05ODE1LTNhMTIwNTUwY2MwYSIsImMiOjh9','','1200','736');" href="javascript:void(0);">
                                                                <i class="fa fa-tasks fa-fw" style="color:#F69240"></i><span style="color:#0076A8"> Some other report</span>
                                                                <span class="pull-right text-muted small">
                                                                    <em>06/28/2018</em>
                                                                </span>
                                                            </a>
                                                            <a class="list-group-item" onclick="PopupCenterDual('https://app.powerbi.com/view?r=eyJrIjoiM2M4NTAyYTgtYjZlMy00NjYxLWEzNzgtZDhlZDBkMzgxMTM5IiwidCI6IjgzZjdmMGY3LTA5ODktNDNiZS05ODE1LTNhMTIwNTUwY2MwYSIsImMiOjh9','','1200','736');" href="javascript:void(0);">
                                                                <i class="fa fa-tasks fa-fw" style="color:#F69240"></i><span style="color:#0076A8"> COE Operations Monthly Report</span>
                                                                <span class="pull-right text-muted small">
                                                                    <em>06/28/2018</em>
                                                                </span>
                                                            </a>
                                                            <a class="list-group-item" onclick="PopupCenterDual('https://app.powerbi.com/view?r=eyJrIjoiM2M4NTAyYTgtYjZlMy00NjYxLWEzNzgtZDhlZDBkMzgxMTM5IiwidCI6IjgzZjdmMGY3LTA5ODktNDNiZS05ODE1LTNhMTIwNTUwY2MwYSIsImMiOjh9','','1200','736');" href="javascript:void(0);">
                                                                <i class="fa fa-tasks fa-fw" style="color:#F69240"></i><span style="color:#0076A8"> COE Operations Monthly Report</span>
                                                                <span class="pull-right text-muted small">
                                                                    <em>06/28/2018</em>
                                                                </span>
                                                            </a>
                                                            <a class="list-group-item" onclick="PopupCenterDual('https://app.powerbi.com/view?r=eyJrIjoiM2M4NTAyYTgtYjZlMy00NjYxLWEzNzgtZDhlZDBkMzgxMTM5IiwidCI6IjgzZjdmMGY3LTA5ODktNDNiZS05ODE1LTNhMTIwNTUwY2MwYSIsImMiOjh9','','1200','736');" href="javascript:void(0);">
                                                                <i class="fa fa-tasks fa-fw" style="color:#F69240"></i><span style="color:#0076A8"> COE Operations Monthly Report</span>
                                                                <span class="pull-right text-muted small">
                                                                    <em>06/28/2018</em>
                                                                </span>
                                                            </a>
                                                            
                                                        </div>
                                                        <div style="color:white; padding-bottom:27px">.</div>
                                                        
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <!-- tabs start-->
            <div class="admintab-area mg-b-15">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="admintab-wrap edu-tab1 mg-t-30">
                                <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab01"><span class="edu-icon edu-analytics tab-custon-ic"></span><i class="fa fa-history" style="transform:scale(1.2)"></i> <span style="padding-left:6px">Historical Data</span></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab02"><span class="edu-icon edu-analytics-arrow tab-custon-ic"></span><i class="fa fa-line-chart" style="transform:scale(1.2)"></i> <span style="padding-left:6px">Score Cards</span></a>
                                    </li>

                                </ul>
                                <div class="tab-content" style="padding-bottom:440px">
                                    <div id="tab01" class="tab-pane in active animated flipInX custon-tab-style1">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                            <table class="table table-responsive table-hover" id="tablea">
                                                <thead>
                                                    <tr>
                                                        <th>Date:</th>
                                                        <th>Period:</th>
                                                        <th>District:</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Action("_bck1010010", "uhscoeops")
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div id="tab02" class="tab-pane animated flipInX custon-tab-style1">
                                        <br />
                                        <div class="row">
                                            @Html.Action("_getCOEdata", "uhscoeops", new { IDa = 0, IDb = 0 })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- tabs End-->

            <div class="loadimage">
                <div class="loadmeRect">
                    <div class="loadmeRectChild loadmeRect1"></div>
                    <div class="loadmeRectChild loadmeRect2"></div>
                    <div class="loadmeRectChild loadmeRect3"></div>
                    <div class="loadmeRectChild loadmeRect4"></div>
                    <div class="loadmeRectChild loadmeRect5"></div>
                </div>
                @*<div class="loadme-mask"></div>*@
            </div>
        </div>
        <!-- lckbckscr End -->
    </div>
    <!-- allpagewraper End -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- jquery
        ============================================ -->
    <script src="~/main/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/main/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/main/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/main/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/main/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/main/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/main/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/main/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/main/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/main/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/main/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/main/js/metisMenu/metisMenu-active.js"></script>
    <!-- Charts JS
        ============================================ -->
    @*<script src="~/main/js/charts/Chart.js"></script>*@
    @*<script src="~/main/js/charts/bar-chart.js"></script>*@

    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <!-- data table JS
        ============================================ -->
    @*<script src="~/main/js/data-table/bootstrap-table.js"></script>
        <script src="~/main/js/data-table/tableExport.js"></script>
        <script src="~/main/js/data-table/data-table-active.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-resizable.js"></script>
        <script src="~/main/js/data-table/colResizable-1.5.source.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-export.js"></script>*@
    <!--  editable JS
        ============================================ -->
    <script src="~/main/js/editable/jquery.mockjax.js"></script>
    <script src="~/main/js/editable/mock-active.js"></script>
    <script src="~/main/js/editable/select2.js"></script>
    <script src="~/main/js/editable/moment.min.js"></script>
    <script src="~/main/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/main/js/editable/bootstrap-editable.js"></script>
    <script src="~/main/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/main/js/chart/jquery.peity.min.js"></script>
    <script src="~/main/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/main/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/main/js/icheck/icheck.min.js"></script>
    <script src="~/main/js/icheck/icheck-active.js"></script>
    <script src="~/main/js/form-validation/jquery.form.min.js"></script>
    <script src="~/main/js/form-validation/jquery.validate.min.js"></script>
    <script src="~/main/js/form-validation/form-active.js"></script>
    <!-- sparkline JS
       ============================================ -->
    <script src="~/main/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/main/js/sparkline/sparkline-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/main/js/chart/jquery.peity.min.js"></script>
    <script src="~/main/js/chart/peity-active.js"></script>
    <!-- dropzone JS
        ============================================ -->
    <script src="~/main/js/dropzone/dropzone.js"></script>
    <!-- confirm JS
        ============================================ -->
    <script src="~/js/jquery-confirm.min.js"></script>
    @*<script src="~/dist/js/datepicker.min.js"></script>*@
    <script src="~/js/jquery.datetimepicker.js"></script>

    <!-- tab JS
        ============================================ -->
    <script src="~/main/js/tab.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/main/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/main/js/main.js"></script>


    <!-- tawk chat JS
        ============================================ -->
    <!--<script src="/main/js/tawk-chat.js"></script>-->
    <script src="~/lib/highlightjs/highlight.pack.js"></script>
    <script src="~/lib/chart.js/Chart.js"></script>
    <script type="text/javascript">
        var accts1 = @Html.Raw(Json.Encode(@ViewBag.eChart1010010));
        $.each(accts1, function (ID, accts1)
        {
            var it1 = accts1.acctid.toString() + " MC";
            var it1b = document.getElementById(it1);
            if(it1b == null){
                return;
            }
            var ctx = document.getElementById(it1).getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [accts1.pr01, accts1.pr02, accts1.pr03, accts1.pr04, accts1.pr05, accts1.pr06, accts1.pr07, accts1.pr08, accts1.pr09, accts1.pr10, accts1.pr11, accts1.pr12],
                    datasets: [{
                        label: '%',
                        data: [accts1.pc01, accts1.pc02, accts1.pc03, accts1.pc04, accts1.pc05, accts1.pc06, accts1.pc07, accts1.pc08, accts1.pc09, accts1.pc10, accts1.pc11, accts1.pc12]
                        , borderColor: '#0076A8'
                        , borderWidth: '1'
                        //, backgroundColor: '#27AAC8'
                    }]
                },
                options: {
                    legend: {
                        display: false,
                        labels: {
                            display: false
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                fontSize: 8,
                                max: 100
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero:true,
                                fontSize: 8
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <script src="~/js/leaflet.js"></script>
    <script type="text/javascript">
    // map objekat originalno ovde
    $(window).load(function (e) {
                var mymap = L.map('mapid5').setView([39.707, -460.54], 4);
                var sw = new L.latLng(5.499550, -167.276413); //Southwest
                var ne = new L.latLng(83.162102, -52.233040);  //Northeast
                var bounds = new L.latLngBounds(sw, ne);
                var redIcon = new L.Icon({ iconUrl: '/img/marker/marker-icon-red.png', shadowUrl: '/img/marker/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41] });
                var orangeIcon = new L.Icon({ iconUrl: '/img/marker/marker-icon-orange.png', shadowUrl: '/img/marker/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41] });
        var greenIcon = new L.Icon({ iconUrl: '/img/marker/marker-icon-green.png', shadowUrl: '/img/marker/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41] });
        var blueIcon = new L.Icon({
            iconUrl: '/img/marker/marker-icon-blue.png',
            shadowUrl: '/img/marker/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicnVtdW5rbyIsImEiOiJjamIzcDVsd2gycDhyMnFxa3ZuOGcwcXZqIn0.LivgKgnmM6_E734yDYqzBw', { maxZoom: 18, id: 'mapbox.streets' }).addTo(mymap);
                e.preventDefault();
                getziplocation();
                //console.log("proba");
                function getziplocation() {
                    var markeri = [];
                    var chkInt = @ViewBag.chkInt;
                    var tzoffset = (new Date()).getTimezoneOffset() * 60000;
                var da = (new Date(Date.now() - tzoffset));
                var dak = parseInt(da.getHours());
                var daa = da.getDate();
                if (daa < 10) {
                    var dal = "0" + daa.toString();
                } else {
                    var dal = daa.toString();
                }
                    var dalc = dal;
                var dar = da.getMonth() + 1;

                if (dar < 10) {
                    var dab = "0" + dar.toString();
                } else {
                    var dab = dar.toString();
                }
                var dabc = dab;
                var dac = da.getFullYear();
                var daat = dac.toString() + dabc.toString() + dalc.toString();
                var daatb = parseInt(daat);
                var dbr = @ViewBag.curdtymd; var db = parseInt(dbr);
                var dateh = @ViewBag.dateh;
                    if (db <= daatb) {
                        var da1 = dateh;
                    } else
                        {
                            var da1 = 24 + dateh;
                        }
                    $.ajax({
                        url: '/uhscoeops/getCOEmap',
                        type: "GET",
                        dataType: "JSON",
                        success: function (populate) {
                            var green9px = "<i class='fa fa-check' style='color:lightseagreen; padding-left:9px'></i>";
                            var green5px = "<i class='fa fa-check' style='color:lightseagreen; padding-left:5px'></i>";
                            var green = "<i class='fa fa-check' style='color:lightseagreen'></i>";
                            var pink10px = "<i class='fa fa-close' style='color:lightpink; padding-left:10px'></i>";
                            var pink6px = "<i class='fa fa-close' style='color:lightpink; padding-left:6px'></i>";
                            var pink = "<i class='fa fa-close' style='color:lightpink'></i>";
                            $.each(populate, function (ID, datatable) {
                                var checkic1 = @ViewBag.checkic1;
                                var distid = datatable.ID;
                                var dist = datatable.dist;
                                var divID = datatable.divID;
                                var divNm = datatable.divNm;
                                var regID = datatable.regID;
                                var region = datatable.region;
                                var disPh = datatable.disPh;
                                var aclng = datatable.aclng;
                                var aclat = datatable.aclat;
                                var OMD = datatable.OMD;
                                var DOD = datatable.DOD;
                                var DSD = datatable.DSD;
                                var dateDT = datatable.dateDT;
                                var dtby1 = datatable.dtby1;
                                var dtby2 = datatable.dtby2;
                                var dtby3 = datatable.dtby3;
                                var dtby4 = datatable.dtby4;
                                var dtby6 = datatable.dtby6;
                                var omdch1 = datatable.omdch1;
                                var omdch2 = datatable.omdch2;
                                var omdch3 = datatable.omdch3;
                                var omdch4 = datatable.omdch4;
                                var omdch6 = datatable.omdch6;
                                var wchk = datatable.wchk;
                                var utco = datatable.utco;
                                var popsec1 = "<span style='color: #F69240'>District:</span><span style='color: #0076A8'> " + dist + "</span><br><span style='color: #F69240'> Division:</span><span style='color: #0076A8'> " + divNm + "</span>" //<br><span style='color: #F69240'>Region:</span><span style='color: #0076A8'> " + region + " </span><br><span style='color: #F69240'> Division:</span><span style='color: #0076A8'> " + divNm + "</span>" //<br><span style='color:#F69240'>DOD:</span><span style='color: #0076A8'> " + DOD + "</span><br><span style='color:#F69240'>OMD:</span><span style='color: #0076A8'> " + OMD + "</span>";
                                var popnot1 = "<b>Send e-mail notification:</b><br><input type='text' id='mailnote' style='padding-left:2px; min-width:206px; min-height:23px' placeholder='write short note' /><span style='padding-left:4px'><a class='btn btn-info' href='#' onClick='btna(" + distid + ")' style='font-size:smaller; max-height:24px'>Send</a></span>";
                                var iconb1 = green5px;
                                var iconb2 = pink6px;
                                if (omdch1 == 0) { sign1 = iconb2; mess1 = "<span style='color:red; padding-left:5px'>Due: " + dateDT + "</span>"; } else
                                if (omdch1 == 1) { sign1 = iconb1; mess1 = "<span style='color:forestgreen; padding-left:5px'>Completed</span>"; }
                                if (omdch2 == 0) { sign2 = iconb2; mess2 = "<span style='color:red; padding-left:5px'>Due: " + dtby1 + "</span>"; } else
                                    if (omdch2 == 1) { sign2 = iconb1; mess2 = "<span style='color:forestgreen; padding-left:5px'>Completed</span>"; }
                                if (omdch6 == 0) { sign6 = iconb2; mess6 = "<span style='color:red; padding-left:5px'>Due: " + dtby6 + "</span>"; } else
                                    if (omdch6 == 1) { sign6 = iconb1; mess6 = "<span style='color:forestgreen; padding-left:5px'>Completed</span>"; }
                                if (omdch3 == 0) { sign3 = iconb2; mess3 = "<span style='color:red; padding-left:5px'>Due: " + dtby2 + "</span>"; } else
                                if (omdch3 == 1) { sign3 = iconb1; mess3 = "<span style='color:forestgreen; padding-left:5px'>Completed</span>"; }
                                if (omdch4 == 0) { sign4 = iconb2; mess4 = "<span style='color:red; padding-left:5px'>Due: " + dtby3 + "</span>"; } else
                                if (omdch4 == 1) { sign4 = iconb1; mess4 = "<span style='color:forestgreen; padding-left:5px'>Completed</span>"; }
                                //var infotablb = "<br /><br /><button onclick=location.href='/uhscoeops/getEditPar1010010?dctp=1010010&id1=" + distid + "&id2=1&id3=null' class='w3-button w3-white w3-border col-lg-12 col-md-12 col-sm-12'><span style='color:#F69240'>COE Operations </span><span style='color:#0076A8'> Cadence</span></button><br><table class='data table table-hover table-responsive' style='font-size:11px'><thead></thead><tbody><tr><td>Daily:</td><td>" + sign1 + "</td><td>" + mess1 + "</td></tr><tr><td>Weekly:</td><td>" + sign2 + "</td><td>" + mess2 + "</td></tr><tr><td>Bi-Weekly:</td><td>" + sign6 + "</td><td>" + mess6 + "</td></tr><tr><td>Monthly:</td><td>" + sign3 + "</td><td>" + mess3 + "</td></tr><tr style='border-bottom:solid; border-bottom-width: thin; border-bottom-color: lightgray'><td>Quarterly:</td><td>" + sign4 + "</td><td>" + mess4 + "</td></tr></tbody></table>";
                                var infotable = "<div class='row' style='padding-top:6px; padding-bottom:6px'><div class='col-lg-7'><table class='table-hover table-striped' style='font-size:12px'><thead></thead><tbody><tr><td style='color:#0076A8'>D:</td><td style='padding-right:2px'>" + sign1 + "</td><td>" + mess1 + "</td></tr><tr><td style='color:#0076A8'>W:</td><td style='padding-right:2px'>" + sign2 + "</td><td>" + mess2 + "</td></tr><tr><td style='color:#0076A8'>BW:</td><td style='padding-right:2px'>" + sign6 + "</td><td>" + mess6 + "</td></tr><tr><td style='color:#0076A8'>M:</td><td style='padding-right:2px'>" + sign3 + "</td><td>" + mess3 + "</td></tr><tr><td style='color:#0076A8'>Q:</td><td style='padding-right:2px'>" + sign4 + "</td><td>" + mess4 + "</td></tr></tbody></table></div><div class='col-lg-5'><button onclick=location.href='/uhscoeops/getEditPar1010010?dctp=1010010&id1=" + distid + "&id2=1&id3=null' class='btn btn-default'><span style='color:#F69240'>COE Ops</span><br><span style='color:#0076A8'>Cadence</span><div style='color:cadetblue; padding-top:6px'><i class='fa fa-arrow-circle-right' style='transform:scale(1.6)'></i></div></button></div></div>";
                                if (chkInt == 3) {
                                    if ((checkic1 == 746 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch4 == 0 || omdch6 == 0)) || (checkic1 == 736 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch6 == 0)) || (checkic1 == 73 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0)) || (checkic1 == 726 && (omdch1 == 0 || omdch2 == 0 || omdch6 == 0)) || (checkic1 == 72 && (omdch1 == 0 || omdch2 == 0)) || (checkic1 == 71 && omdch1 == 0) || ((checkic1 == 6416 || checkic1 == 6426) && wchk == 2 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch4 == 0 || omdch6 == 0)) || ((checkic1 == 641 || checkic1 == 642) && wchk == 2 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch4 == 0)) || ((checkic1 == 6416 || checkic1 == 6426) && wchk == 3 && omdch1 == 0) || ((checkic1 == 641 || checkic1 == 642) && wchk == 3 && omdch1 == 0) || ((checkic1 == 6316 || checkic1 == 6326) && wchk == 2 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch6 == 0)) || ((checkic1 == 631 || checkic1 == 632) && wchk == 2 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0)) || ((checkic1 == 6316 || checkic1 == 6326) && wchk == 3 && omdch1 == 0) || ((checkic1 == 631 || checkic1 == 632) && wchk == 3 && omdch1 == 0) || (checkic1 == 626 && wchk == 2 && (omdch1 == 0 || omdch2 == 0 || omdch6 == 0)) || (checkic1 == 62 && wchk == 2 && (omdch1 == 0 || omdch2 == 0)) || (checkic1 == 626 && wchk == 3 && omdch1 == 0) || (checkic1 == 62 && wchk == 3 && omdch1 == 0) || (checkic1 == 61 && wchk == 2 && omdch1 == 0) || (checkic1 == 61 && wchk == 3 && omdch1 == 0) || ((checkic1 == 5416 || checkic1 == 5426 || checkic1 == 5436) && wchk == 1 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch4 == 0 || omdch6 == 0)) || ((checkic1 == 541 || checkic1 == 542 || checkic1 == 543) && wchk == 1 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch4 == 0)) || ((checkic1 == 5416 || checkic1 == 5426 || checkic1 == 5436) && (wchk == 2 || wchk == 3) && omdch1 == 0) || ((checkic1 == 541 || checkic1 == 542 || checkic1 == 543) && (wchk == 2 || wchk == 3) && omdch1 == 0) || ((checkic1 == 5316 || checkic1 == 5326) && wchk == 1 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0 || omdch6 == 0)) || ((checkic1 == 531 || checkic1 == 532) && wchk == 1 && (omdch1 == 0 || omdch2 == 0 || omdch3 == 0)) || ((checkic1 == 5316 || checkic1 == 5326) && (wchk == 2 || wchk == 3) && omdch1 == 0) || ((checkic1 == 531 || checkic1 == 532) && (wchk == 2 || wchk == 3) && omdch1 == 0) || (checkic1 == 526 && wchk == 1 && (omdch1 == 0 || omdch2 == 0 || omdch6 == 0)) || (checkic1 == 52 && wchk == 1 && (omdch1 == 0 || omdch2 == 0)) || (checkic1 == 526 && (wchk == 2 || wchk == 3) && omdch1 == 0) || (checkic1 == 52 && (wchk == 2 || wchk == 3) && omdch1 == 0) || (checkic1 == 51 && wchk == 1 && omdch1 == 0) || (checkic1 == 50 && omdch1 == 0)) { markeri.push(L.marker([aclat, aclng], { icon: redIcon, id: distid }).bindPopup(popsec1 + infotable + popnot1).openPopup()); }
                                }
                                else if (chkInt == 2) {
                                    if ((checkic1 == 746 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1 && omdch6 == 1)) || (checkic1 == 736 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch6 == 1)) || (checkic1 == 73 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1)) || (checkic1 == 726 && (omdch1 == 1 && omdch2 == 1 && omdch6 == 1)) || (checkic1 == 72 && (omdch1 == 1 && omdch2 == 1)) || (checkic1 == 71 && omdch1 == 1) || ((checkic1 == 6416 || checkic1 == 6426) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1 && omdch6 == 1)) || ((checkic1 == 641 || checkic1 == 642) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1)) || ((checkic1 == 6416 || checkic1 == 6426) && wchk == 3 && omdch1 == 1) || ((checkic1 == 641 || checkic1 == 642) && wchk == 3 && omdch1 == 1) || ((checkic1 == 6316 || checkic1 == 6326) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch6 == 1)) || ((checkic1 == 631 || checkic1 == 632) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1)) || ((checkic1 == 6316 || checkic1 == 6326) && wchk == 3 && omdch1 == 1) || ((checkic1 == 631 || checkic1 == 632) && wchk == 3 && omdch1 == 1) || (checkic1 == 626 && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch6 == 1)) || (checkic1 == 62 && wchk == 2 && (omdch1 == 1 && omdch2 == 1)) || (checkic1 == 626 && wchk == 3 && omdch1 == 1) || (checkic1 == 62 && wchk == 3 && omdch1 == 1) || (checkic1 == 61 && wchk == 2 && omdch1 == 1) || (checkic1 == 61 && wchk == 3 && omdch1 == 1) || ((checkic1 == 5416 || checkic1 == 5426 || checkic1 == 5436) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1 && omdch6 == 1)) || ((checkic1 == 541 || checkic1 == 542 || checkic1 == 543) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1)) || ((checkic1 == 5416 || checkic1 == 5426 || checkic1 == 5436) && (wchk == 2 || wchk == 3) && omdch1 == 1) || ((checkic1 == 541 || checkic1 == 542 || checkic1 == 543) && (wchk == 2 || wchk == 3) && omdch1 == 1) || ((checkic1 == 5316 || checkic1 == 5326) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch6 == 1)) || ((checkic1 == 531 || checkic1 == 532) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1)) || ((checkic1 == 5316 || checkic1 == 5326) && (wchk == 2 || wchk == 3) && omdch1 == 1) || ((checkic1 == 531 || checkic1 == 532) && (wchk == 2 || wchk == 3) && omdch1 == 1) || (checkic1 == 526 && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch6 == 1)) || (checkic1 == 52 && wchk == 1 && (omdch1 == 1 && omdch2 == 1)) || (checkic1 == 526 && (wchk == 2 || wchk == 3) && omdch1 == 1) || (checkic1 == 52 && (wchk == 2 || wchk == 3) && omdch1 == 1) || (checkic1 == 51 && wchk == 1 && omdch1 == 1) || (checkic1 == 50 && omdch1 == 1))
                                    { markeri.push(L.marker([aclat, aclng], { icon: greenIcon, id: distid }).bindPopup(popsec1 + infotable + popnot1).openPopup()); }
                                }
                                else if (chkInt == 1) {
                                    if ((checkic1 == 746 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1 && omdch6 == 1)) || (checkic1 == 736 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch6 == 1)) || (checkic1 == 73 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1)) || (checkic1 == 726 && (omdch1 == 1 && omdch2 == 1 && omdch6 == 1)) || (checkic1 == 72 && (omdch1 == 1 && omdch2 == 1)) || (checkic1 == 71 && omdch1 == 1) || ((checkic1 == 6416 || checkic1 == 6426) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1 && omdch6 == 1)) || ((checkic1 == 641 || checkic1 == 642) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1)) || ((checkic1 == 6416 || checkic1 == 6426) && wchk == 3 && omdch1 == 1) || ((checkic1 == 641 || checkic1 == 642) && wchk == 3 && omdch1 == 1) || ((checkic1 == 6316 || checkic1 == 6326) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch6 == 1)) || ((checkic1 == 631 || checkic1 == 632) && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1)) || ((checkic1 == 6316 || checkic1 == 6326) && wchk == 3 && omdch1 == 1) || ((checkic1 == 631 || checkic1 == 632) && wchk == 3 && omdch1 == 1) || (checkic1 == 626 && wchk == 2 && (omdch1 == 1 && omdch2 == 1 && omdch6 == 1)) || (checkic1 == 62 && wchk == 2 && (omdch1 == 1 && omdch2 == 1)) || (checkic1 == 626 && wchk == 3 && omdch1 == 1) || (checkic1 == 62 && wchk == 3 && omdch1 == 1) || (checkic1 == 61 && wchk == 2 && omdch1 == 1) || (checkic1 == 61 && wchk == 3 && omdch1 == 1) || ((checkic1 == 5416 || checkic1 == 5426 || checkic1 == 5436) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1 && omdch6 == 1)) || ((checkic1 == 541 || checkic1 == 542 || checkic1 == 543) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch4 == 1)) || ((checkic1 == 5416 || checkic1 == 5426 || checkic1 == 5436) && (wchk == 2 || wchk == 3) && omdch1 == 1) || ((checkic1 == 541 || checkic1 == 542 || checkic1 == 543) && (wchk == 2 || wchk == 3) && omdch1 == 1) || ((checkic1 == 5316 || checkic1 == 5326) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1 && omdch6 == 1)) || ((checkic1 == 531 || checkic1 == 532) && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch3 == 1)) || ((checkic1 == 5316 || checkic1 == 5326) && (wchk == 2 || wchk == 3) && omdch1 == 1) || ((checkic1 == 531 || checkic1 == 532) && (wchk == 2 || wchk == 3) && omdch1 == 1) || (checkic1 == 526 && wchk == 1 && (omdch1 == 1 && omdch2 == 1 && omdch6 == 1)) || (checkic1 == 52 && wchk == 1 && (omdch1 == 1 && omdch2 == 1)) || (checkic1 == 526 && (wchk == 2 || wchk == 3) && omdch1 == 1) || (checkic1 == 52 && (wchk == 2 || wchk == 3) && omdch1 == 1) || (checkic1 == 51 && wchk == 1 && omdch1 == 1) || (checkic1 == 50 && omdch1 == 1)) { markeri.push(L.marker([aclat, aclng], { icon: greenIcon, id: distid }).bindPopup(popsec1 + infotable + popnot1).openPopup()); }
                                    else if (da1 + utco < 15) { markeri.push(L.marker([aclat, aclng], { icon: blueIcon, id: distid }).bindPopup(popsec1 + infotable + popnot1).openPopup()); }
                                    else { markeri.push(L.marker([aclat, aclng], { icon: redIcon, id: distid }).bindPopup(popsec1 + infotable + popnot1).openPopup()); }
                                }
                            });
                            var fgroup = new L.featureGroup(markeri);
                            fgroup.addTo(mymap).bringToFront();
                            mymap.setView([38.284385, -98.60], [4]);
                            mymap.on('click', function(e){
                                $('.showdist').show();
                            });
                            fgroup.on('click', function(e){
                                var clickedMarker = e.layer;
                                var item0 = clickedMarker['options']['id'];
                                $('.showdist').hide();
                                var item1 = "#" + item0;
                                $(item1).show();
                            });
                        }
                    });
                }
            });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.loadimage').hide();
            $("#tablea").DataTable({
                "order": [[0, "desc"], [2, "asc"]]
            });
        });
        function enlargea(a) {
            if (a == 1) { $("#cntAll").css({ 'font-weight': 'bold' }); $("#cnuptot").css({ 'font-weight': 'bold' }); }
            else if (a == 2) { $("#cntGood").css({ 'font-weight': 'bold' }); $("#cnupgod").css({ 'font-weight': 'bold' }); $("#pcngod").css({ 'font-weight': 'bold' }); }
            else if (a == 3) { $("#cntBad").css({ 'font-weight': 'bold' }); $("#cnupbad").css({ 'font-weight': 'bold' }); $("#pcnbad").css({ 'font-weight': 'bold' }); }
        };
        function enlargeb() {
            $("#cntAll").css({ 'font-weight': 'normal' }); $("#cnuptot").css({ 'font-weight': 'normal' });
            $("#cntGood").css({ 'font-weight': 'normal' }); $("#cnupgod").css({ 'font-weight': 'normal' }); $("#pcngod").css({ 'font-weight': 'normal' });
            $("#cntBad").css({ 'font-weight': 'normal' }); $("#cnupbad").css({ 'font-weight': 'normal' }); $("#pcnbad").css({ 'font-weight': 'normal' });
        };

    </script>
    <!-- iCheck -->
    <script type="text/javascript">
        function PopupCenterDual(url, title, w, h) {
            // Fixes dual-screen position Most browsers Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
            width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }
        }
    </script>
    <script>
        // tooltip demo
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
        // popover demo
        $("[data-toggle=popover]").popover();
    </script>
</body>

</html>