

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Agiliti: A3 Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/owl.carousel.css">
    <link rel="stylesheet" href="~/main/css/owl.theme.css">
    <link rel="stylesheet" href="~/main/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/main.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/form/all-type-forms.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- dropzone CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/dropzone/dropzone.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/alerts.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.print.min.css">

    <link rel="stylesheet" href="~/main/css/editor/select2.css">
    <link rel="stylesheet" href="~/main/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/main/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/main/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <!-- DataTables CSS -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    @*<link rel="stylesheet" href="~/main/css/data-table/bootstrap-table.css">
        <link rel="stylesheet" href="~/main/css/data-table/bootstrap-editable.css">*@
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/dist/style/loadme.css">
    <link rel="stylesheet" href="~/main/css/modals.css">
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />

    <link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/responsive.css">
    @*<link href="~/css/datepicker.min.css" rel="stylesheet" type="text/css">*@

    <script src="~/js/jquery.min.js"></script>
    <!-- modernizr JS
        ============================================ -->
    <script src="~/main/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        footer {
            display: none;
        }

        .buttonb {
            margin: 0 auto;
            font-size: 14px;
            padding: 1.25rem 2.5rem;
            display: block;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #009ac9;
            color: #009ac9;
            font-weight: bold;
            min-height: 32px;
            min-width: 180px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .buttonb:hover {
                background-color: #009ac9;
                color: #ffffff;
                border-color: #009ac9;
            }

        .responsiveimg {
            width: 100%;
            height: auto;
        }

        .startbtn {
            display: none;
        }

        .loadDiv {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 1030;
            text-align: center;
        }

        .textMod {
            border: solid;
            border-color: #E0E0E0;
            border-width: thin;
            padding-top: 8px;
            padding-left: 8px;
        }
    </style>
</head>

<body>
    <!-- COMMON IDENTIFIERS -->
    @Html.Hidden("deldctpid")
    @Html.Hidden("mod1010005")

    @Html.Hidden("sID")
    @Html.Hidden("scrdt")
    @Html.Hidden("scompid")
    @Html.Hidden("scrusid")
    @Html.Hidden("scompld")
    @Html.Hidden("sdateed")
    <!-- Start Left menu area -->
    @Html.Action("_left_sidebar_pro", "uhsCH")
    <!-- End Left menu area -->

    <div class="all-content-wrapper">
        <div class="lckbckscr">

            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        @Html.Action("_header_top_wraper", "uhsCH", new { tid = ViewBag.svctr })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            @Html.Action("_mobile_menu_nav", "uhsCH")
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="sparkline12-hd">
                                    <div class="main-sparkline12-hd" style="padding-top:28px; padding-bottom:18px">
                                        <h1>
                                            <span style="color:#0076A8">A3 Form: </span><span style="color:#F69240"> Create </span><span style="color:#0076A8"> & </span><span style="color:#F69240"> Edit</span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="text-align:right">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="sparkline12-hd">
                                    <div class="main-sparkline12-hd">                                        
                                            <div class="startbtn" id="Sdistrict" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="newProject(53)" class="buttonb">District<br><span style="color:#F69240">Cadence</span></button>
                                            </div>
                                            <div class="startbtn" id="Sa360" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="newProject(55)" href="javascript:void(0);" class="buttonb">Asset360<br><span style="color:#F69240">Cadence</span></button>
                                            </div>
                                            <div class="startbtn" id="Sb360" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="newProject(56)" href="javascript:void(0);" class="buttonb">BioMed360<br><span style="color:#F69240">Cadence</span></button>
                                            </div>
                                            <div class="startbtn" id="Scoe" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="newProject(58)" href="javascript:void(0);" class="buttonb">COE Operations<br><span style="color:#F69240">Cadence</span></button>
                                            </div>
                                            <div class="startbtn" id="Ssurserv" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="newProject(57)" href="javascript:void(0);" class="buttonb">Surgical Services<br><span style="color:#F69240">Cadence</span></button>
                                            </div>
                                            <div class="startbtn" id="Sstandards" style="display: inline-block; padding-bottom:4px">
                                                <button onclick="newProject(52)" href="javascript:void(0);" class="buttonb">VWP<br><span style="color:#F69240">Standards</span></button>
                                            </div>                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Single pro tab review Start-->
            
            <!-- Static Table Start -->
            <div class="data-table-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sparkline13-list">

                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <table class="table table-responsive table-hover" id="tablea">
                                            <thead>
                                                <tr style="color:#A4BCC2; font-size:11px">
                                                    <th style="color:white">.</th>
                                                    <th>Project:</th>
                                                    <th>District:</th>
                                                    <th>Account:</th>
                                                    <th>App Module:</th>
                                                    <th>Task:</th>

                                                    <th style="text-align:center; max-width:62px">St:</th>
                                                    <th style="text-align:center; max-width:62px">Ex:</th>
                                                    <th style="text-align:center; min-width:24px">S#:</th>
                                                    <th style="text-align:center; min-width:72px">Prg:</th>
                                                    <th style="text-align:center; min-width:72px">Time:</th>
                                                    <th style="text-align:center; min-width:28px">CP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.pageData)
                                                {

                                                    <tr style="color:#0076A8">
                                                        <td style="text-align:center; min-width:24px"><a href="#" class="delClick" onclick="delDoc('@item.ID')"><i class="fa fa-trash" style="color:red; transform:scale(1.3)" title="delete"></i></a></td>
                                                        <td style="max-width:100%; white-space:nowrap;"><a href="#" onclick="editProject('@item.ID', @item.eXtskoid)" style="color:darkred;font-size:14px">@item.project</a></td>
                                                        <td style="max-width:100%; white-space:nowrap;"><span style="font-size:13px; color:#6399AE">@item.distnm</span></td>
                                                        <td><span style="font-size:13px; color:#6399AE">@item.CSTNM</span></td>
                                                        <td><span style="font-size:13px">@item.L1DS</span></td>
                                                        <td><span style="font-size:13px">@item.L2DS</span></td>

                                                        <td style="text-align:center; max-width:62px; font-size:13px; color:#6399AE">@item.datest</td>
                                                        <td style="text-align:center; max-width:62px; font-size:13px">@item.dateex</td>
                                                        <td style="text-align:center; min-width:24px; font-size:13px; color:darkred; padding-top:22px">@item.tskcnt</td>
                                                        <td style="text-align:center">
                                                            @if (item.avgsucce >= 100)
                                                            {
                                                                <span class="text-success" style="font-size:12px">100 </span><span class="text-info" style="font-size:12px"> %</span>
                                                                <div class="progress m-b-0" style="height:6px">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <span class="text-success" style="font-size:12px">@item.avgsucsa </span><span class="text-info" style="font-size:12px"> %</span>
                                                                <div class="progress m-b-0" style="height:6px">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.avgsucsa" aria-valuemin="0" aria-valuemax="100" style="width:@item.avgsucsb"></div>
                                                                </div>

                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item.prgsucce >= 100)
                                                            {
                                                                <span class="text-success" style="font-size:12px">Overdue</span><span class="text-info" style="font-size:12px">!</span>
                                                                <div class="progress m-b-0" style="height:6px">
                                                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                                                                </div>
                                                            }
                                                            else if (item.prgsucce >= 80 && item.prgsucce < 100)
                                                            {
                                                                <span class="text-success" style="font-size:12px">@item.prgsucsa </span><span class="text-info" style="font-size:12px"> %</span>
                                                                <div class="progress m-b-0" style="height:6px">
                                                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@item.prgsucsa" aria-valuemin="0" aria-valuemax="100" style="width:@item.prgsucsb"></div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-success" style="font-size:12px">@item.prgsucsa </span><span class="text-info" style="font-size:12px"> %</span>
                                                                <div class="progress m-b-0" style="height:6px">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.prgsucsa" aria-valuemin="0" aria-valuemax="100" style="width:@item.prgsucsb"></div>
                                                                </div>
                                                            }
                                                        </td>
                                                        @if (item.compld == true)
                                                        {
                                                            <td style="text-align:center; min-width:24px; padding-top:20px"><i class="fa fa-check" style="color:forestgreen; transform:scale(1.3)" title="completed"></i></td>
                                                        }
                                                        else
                                                        {
                                                            <td style="color:white">.</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loadimage">
                <div class="loadmeRect">
                    <div class="loadmeRectChild loadmeRect1"></div>
                    <div class="loadmeRectChild loadmeRect2"></div>
                    <div class="loadmeRectChild loadmeRect3"></div>
                    <div class="loadmeRectChild loadmeRect4"></div>
                    <div class="loadmeRectChild loadmeRect5"></div>
                </div>
                @*<div class="loadme-mask"></div>*@
            </div>
        </div>
        <!-- lckbckscr End -->
    </div>
    <!-- allpagewraper End -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- jquery
        ============================================ -->
    <script src="~/main/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/main/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/main/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/main/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/main/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/main/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/main/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/main/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/main/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/main/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/main/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/main/js/metisMenu/metisMenu-active.js"></script>
    <!-- Charts JS
        ============================================ -->
    @*<script src="~/main/js/charts/Chart.js"></script>*@
    @*<script src="~/main/js/charts/bar-chart.js"></script>*@

    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <!-- data table JS
        ============================================ -->
    @*<script src="~/main/js/data-table/bootstrap-table.js"></script>
        <script src="~/main/js/data-table/tableExport.js"></script>
        <script src="~/main/js/data-table/data-table-active.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-resizable.js"></script>
        <script src="~/main/js/data-table/colResizable-1.5.source.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-export.js"></script>*@
    <!--  editable JS
        ============================================ -->
    <script src="~/main/js/editable/jquery.mockjax.js"></script>
    <script src="~/main/js/editable/mock-active.js"></script>
    <script src="~/main/js/editable/select2.js"></script>
    <script src="~/main/js/editable/moment.min.js"></script>
    <script src="~/main/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/main/js/editable/bootstrap-editable.js"></script>
    <script src="~/main/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/main/js/chart/jquery.peity.min.js"></script>
    <script src="~/main/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/main/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/main/js/icheck/icheck.min.js"></script>
    <script src="~/main/js/icheck/icheck-active.js"></script>
    <script src="~/main/js/form-validation/jquery.form.min.js"></script>
    <script src="~/main/js/form-validation/jquery.validate.min.js"></script>
    <script src="~/main/js/form-validation/form-active.js"></script>
    <!-- dropzone JS
        ============================================ -->
    <script src="~/main/js/dropzone/dropzone.js"></script>
    <!-- confirm JS

        ============================================ -->
    <script src="~/js/jquery-confirm.min.js"></script>
    @*<script src="~/dist/js/datepicker.min.js"></script>*@

    <script src="~/js/jquery.datetimepicker.js"></script>

    <!-- plugins JS
        ============================================ -->
    <script src="~/main/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/main/js/main.js"></script>


    <!-- tawk chat JS
        ============================================ -->
    <!--<script src="/main/js/tawk-chat.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.loadimage').hide();

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tablea").DataTable({
                "order": [[7, "desc"]]
            });
        });
    </script>
    <script>
        // tooltip demo
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
        // popover demo
        $("[data-toggle=popover]").popover();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".startbtn").hide();
            var data1 = @Html.Raw(Json.Encode(@ViewBag.preAgentT));
            $.each(data1, function (ID, data1) {
                var it1 = data1.ID;
                if(it1 == 53){
                    $("#Sdistrict").show();
                    $("#Sstandards").show();
                    //$("#SQuality").show();
                } else if(it1 == 55){
                    $("#Sa360").show();
                } else if(it1 == 56){
                    $("#Sb360").show();
                } else if(it1 == 57){
                    $("#Ssurserv").show();
                } else if(it1 == 58){
                    $("#Scoe").show();
                }
            });
        });
    </script>
    <script type="text/javascript">
        function newProject(a) {
            $("head").addClass("loadDiv");
            $('.loadimage').show();
            var url = '/uhsworktask/insertDoc?tskoid=' + a + '&L3IDc=0&dat=@ViewBag.dat&wek=@ViewBag.wek&per=@ViewBag.per&dis=@ViewBag.dis&act=@ViewBag.act&dcg=@ViewBag.dcg&dct=@ViewBag.dct&IDR=null';
            $.ajax({
                url: url,
                type: "GET",
                dataType: "JSON",
                success: function (response) {
                    var urlb = '/uhsworktask/workTask?ID=' + response + '&IDK=' + a + '&IDF=1';
                    window.location = urlb;
                }
            });
        };
        function editProject(a, b) {
            $("head").addClass("loadDiv");
            $('.loadimage').show();
            var urlb = '/uhsworktask/workTask?ID=' + a + '&IDK=' + b + '&IDF=1';
            window.location = urlb;
        };
    </script>
    <script type="text/javascript">
        function delDoc(a) {
            $.confirm({
                title: 'Delete!',
                content: 'Are you sure?',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: '/uhsCH/delDoc3010001',
                            type: "GET",
                            dataType: "JSON",
                            data: { id: a },
                            success: function (response) {
                                if (response == 1) {
                                    location.reload();
                                }
                                else {
                                    alert("Error: Failed to delete document!");
                                }
                            }
                        });
                    },
                    cancel: function () {
                    }
                    //,
                    //somethingElse: {
                    //    text: 'Something else',
                    //    btnClass: 'btn-blue',
                    //    keys: ['enter', 'shift'],
                    //    action: function(){
                    //        $.alert('Something else?');
                    //    }
                    //}
                }
            })
        };

    </script>


</body>

</html>