@model List<TRIZMA.Models.clientsProjectsViewDb>


@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ID)</td>
        <td>
            <a href="@Url.Action("Edit", "clientsProjects", new { id = item.ID })" style="color:forestgreen; padding-left:5px"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete", "clientsProjects", new { id = item.ID })" style="color:red; padding-left:8px"><i class="fa fa-power-off"></i></a>
        </td>
        <td>@Html.DisplayFor(modelItem => item.clientName)</td>
        <td>@Html.DisplayFor(modelItem => item.projectName)</td>
        <td>@Html.DisplayFor(modelItem => item.createdDT)</td>
        <td>@Html.DisplayFor(modelItem => item.editedDT)</td>
    </tr>
}
