@model List<TRIZMA.Models.UHSWEBOMD21vDb>


@foreach (var item in Model)
{
<div class="showdistb col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" id="@item.IDc">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="color:#F69240"> Account #: </span><span style="color:#0076A8"> @item.IDc</span>
                <span style="color:white"> .. </span>
                <span style="color:#F69240"> Customer Name: </span><span style="color:#0076A8"> @item.CUST</span>

            </div>
            <!-- /.panel-heading -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <span style="color:lightsalmon; font-size:11px">Region: </span><span style="color:#0076A8; font-size:11px"> @item.REG</span><span style="color:white"> .. </span>
            <span style="color:lightsalmon; font-size:smaller">Division: </span><span style="color:#0076A8; font-size:smaller"> @item.DIV</span><span style="color:white"> .. </span>
            <span style="color:lightsalmon; font-size:smaller">District: </span><span style="color:#0076A8; font-size:smaller"> @item.DIST</span><span style="color:white"> .. </span>
            <span style="color:lightsalmon; font-size:smaller">DOD: </span><span style="color:#0076A8; font-size:smaller"> @item.DOD</span><span style="color:white"> .. </span>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12" style="padding-top:24px">
        <div class="col-lg-12">
            <button onclick="location.href='/uhsa360/getEditPar10100067?dctp=1010006&id1=@item.IDc&id2=1&id3=null'" class="btn btn-default col-lg-12" style="min-height:40px"><span style="color:#F69240">Asset360 </span><span style="color:#0076A8; padding-right:12px"> Cadence </span><span style="color:#00966C; padding-top:5px"><i class='fa fa-arrow-circle-right' style='transform:scale(1.2)'></i></span></button>


            <table class="table table-hover table-striped" style="font-size:14px">
                <tbody>
                    <tr>
                        @if (item.a360dyc == 0)
                        {
                            <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink; padding-left:2px"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">D: </td>
                            <td style="font-size:smaller; color:red"> Due: Today!</td>
                        }
                        else if (item.a360dyc == 1)
                        {
                            <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">D: </td>
                            <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
                        }
                    </tr>
                    <tr>
                        @if (item.a360wkc == 0)
                        {
                            <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink; padding-left:2px"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">W: </td>
                            <td style="font-size:smaller; color:red"> Due: @item.a360wkd</td>
                        }
                        else if (item.a360wkc == 1)
                        {
                            <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">W: </td>
                            <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
                        }
                    </tr>
                    <tr>
                        @if (item.a360prc == 0)
                        {
                            <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink; padding-left:2px"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">M: </td>
                            <td style="font-size:smaller; color:red"> Due: @item.a360prd</td>
                        }
                        else if (item.a360prc == 1)
                        {
                            <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">M: </td>
                            <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
                        }
                    </tr>
                    <tr>
                        @if (item.a360qtc == 0)
                        {
                            <td style="padding-right:6px"><i class="fa fa-close" style="color:lightpink; padding-left:2px"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">Q: </td>
                            <td style="font-size:smaller; color:red"> Due: @item.a360qtd</td>
                        }
                        else if (item.a360qtc == 1)
                        {
                            <td style="padding-right:6px"><i class="fa fa-check" style="color:lightseagreen"></i></td>
                            <td style="font-size:smaller; text-align:right; padding-right:6px">Q: </td>
                            <td style="font-size:smaller; color:lightseagreen"> Completed!</td>
                        }
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-xs-12" style="padding-top:8px">
        <div align="center" style="font-size:11px"><span style="color:#F69240">BioMed360 </span><span style="color:#0076A8"> Cadence Success by Month</span></div>
        <canvas id="@item.IDc MD" height="106"></canvas>
    </div>
</div>

}
