@model List<TRIZMA.Models.AGLINVMDL1Db>

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Agiliti: Inventory Mapping</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/main/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/owl.carousel.css">
    <link rel="stylesheet" href="~/main/css/owl.theme.css">
    <link rel="stylesheet" href="~/main/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/main.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/form/all-type-forms.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- dropzone CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/dropzone/dropzone.css">
    <!-- select2 CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/select2/select2.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/alerts.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/morrisjs/morris.css">

    <link href="~/lib/highlightjs/github.css" rel="stylesheet">


    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/main/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/main/css/calendar/fullcalendar.print.min.css">

    <link rel="stylesheet" href="~/main/css/editor/select2.css">
    <link rel="stylesheet" href="~/main/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/main/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/main/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <!-- DataTables CSS -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <link href="~/main/css/chosen/bootstrap-chosen.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/main/css/data-table/bootstrap-table.css">
        <link rel="stylesheet" href="~/main/css/data-table/bootstrap-editable.css">*@
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/dist/style/loadme.css">
    <link rel="stylesheet" href="~/main/css/modals.css">
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />

    <link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />

    <!-- style CSS

        ============================================ -->
    <link rel="stylesheet" href="~/main/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/main/css/responsive.css">
    @*<link href="~/css/datepicker.min.css" rel="stylesheet" type="text/css">*@

    <script src="~/js/jquery.min.js"></script>
    <!-- modernizr JS
        ============================================ -->
    <script src="~/main/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/main/css/accordions.css" rel="stylesheet" />
    <style>
        footer {
            display: none;
        }

        .buttonb {
            margin: 0 auto;
            font-size: 16px;
            padding: 1.25rem 2.5rem;
            display: block;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #009ac9;
            color: #009ac9;
            font-weight: bold;
            max-height: 80px;
            min-width: 220px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .buttonb:hover {
                background-color: #009ac9;
                color: #ffffff;
                border-color: #009ac9;
            }

        .responsiveimg {
            width: 100%;
            height: auto;
        }

        .startbtn {
            display: none;
        }

        .divData {
            display: none;
        }

        .thinBorder {
            border: solid;
            border-width: thin;
            border-color: #F0FFFF;
        }

        .thinBorderb {
            border: solid;
            border-width: thin;
            border-color: #85CDDB;
        }

        .loadDiv {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 6000;
            text-align: center;
        }

        .textMod {
            border: solid;
            border-color: #E0E0E0;
            border-width: thin;
            padding-top: 8px;
            padding-left: 8px;
        }
        .inputb {
            color: #0076A8;
            font-size: 12px;
            min-height: 28px;
            padding-left: 6px;
            border: solid;
            border-width: thin;
            border-color: lightsteelblue;
        }
    </style>
</head>

<body>
    <!-- COMMON IDENTIFIERS -->
    @Html.Hidden("deldctpid")
    @Html.Hidden("mod1010005")

    @Html.Hidden("sID")
    @Html.Hidden("scrdt")
    @Html.Hidden("scompid")
    @Html.Hidden("scrusid")
    @Html.Hidden("scompld")
    @Html.Hidden("sdateed")
    <!-- Start Left menu area -->
    @Html.Action("_left_sidebar_pro", "uhsCH")
    <!-- End Left menu area -->

    <div class="all-content-wrapper">
        <div class="lckbckscr">

            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        @Html.Action("_header_top_wraper", "uhsCH", new { tid = ViewBag.svctr })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            @Html.Action("_mobile_menu_nav", "uhsCH")
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="sparkline12-hd">
                                    <div class="main-sparkline12-hd">
                                        <h1>
                                            <span style="color:#F69240">Inventory </span><span style="color:#0076A8"> Mapping: Edit </span><span style="color:#F69240"> Document <small>(Customer Inventory Data)</small></span>
                                            <span class="pull-right">
                                                <button class="btn btn-info" onclick="backToList()"><i class="fa fa-backward"></i><span style="padding-left:12px">Back to documents list!</span></button>
                                            </span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-payment-inner-st">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                @foreach (var item in ViewBag.docList)
                                                {
                                                    <div class="col-lg-4">
                                                        <div class="row" style="padding-left:14px">
                                                            <img src="~/images/customers/L_@item.acctImage" class="responsiveimg" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row" style="padding-left:32px">
                                                            <label style="color:#0076A8; font-size:24px;"><u>@item.acctName</u></label>
                                                            <br />
                                                            <table>
                                                                <thead>

                                                                </thead>
                                                                <tbody>

                                                                    <tr>
                                                                        <td style="padding-right:8px"><span style="color:#F69240; font-size:14px;">Address: </span></td>
                                                                        <td><span style="color:#0076A8; font-size:16px;"> @item.acctAddress</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-right:8px"><span style="color:#F69240; font-size:14px;">Hours: </span></td>
                                                                        <td><span style="color:#0076A8; font-size:14px;"> @item.acctHours</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-right:8px"><span style="color:#F69240; font-size:14px;">Phone: </span></td>
                                                                        <td><span style="color:#0076A8; font-size:14px;"> @item.acctPhone</span></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td style="padding-right:8px"><span style="color:#F69240; font-size:14px;">Account#: </span></td>
                                                                        <td><span style="color:#0076A8; font-size:14px;"> @item.acctid</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-right:8px"><span style="color:#F69240; font-size:14px;">Doc.ID: </span></td>
                                                                        <td><span style="color:#0076A8; font-size:14px;"> @item.ID</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-right:8px"><span style="color:#F69240; font-size:14px;">Date: </span></td>
                                                                        <td><span style="color:#0076A8; font-size:14px;"> @item.docDate</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="row" style="padding-left:32px; padding-top:14px">
                                                            <div class="list-group">
                                                                <a href="#" class="list-group-item" onclick="PopupCenterDualb('@ViewBag.docID')">
                                                                    <span style="padding-right:12px"><i class="glyphicon glyphicon-list-alt"></i></span><span style="color:#0076A8">Document </span><span style="color:#F69240"> Overview</span>
                                                                    <span class="pull-right text-muted small">
                                                                        <em><span style="color:#0076A8">html </span><span style="color:#F69240"> Report</span></em>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="list-group-item" onclick="PopupCenterDualc('@ViewBag.docID')">
                                                                    <span style="padding-right:12px"><i class="fa fa-pencil-square-o"></i></span><span style="color:#0076A8">Equipment </span><span style="color:#F69240"> CheckUp</span>
                                                                    <span class="pull-right text-muted small">
                                                                        <em><span style="color:#0076A8">App </span><span style="color:#F69240"> Module</span></em>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <!-- /.list-group -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" style="background-color:white !important">
                                                                        <div class="row">
                                                                            <div class="col-xs-3">
                                                                                <i class="fa fa-gears fa-3x" style="color:darkgray"></i>
                                                                            </div>
                                                                            <div class="col-xs-9 text-right">
                                                                                <div style="color:#0076A8; font-size:36px"><b>@ViewBag.manuNo</b></div>
                                                                                <div style="color:#F69240">Manufacturers!</div>
                                                                                <div style="color:#0076A8">Match Confirmed: @item.manMacConf</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" style="background-color:white !important">
                                                                        <div class="row">
                                                                            <div class="col-xs-3">
                                                                                <i class="fa fa-server fa-3x" style="color:darkgray"></i>
                                                                            </div>
                                                                            <div class="col-xs-9 text-right">
                                                                                <div style="color:#0076A8; font-size:36px"><b>@ViewBag.modlNo</b></div>
                                                                                <div style="color:#F69240">Equip. Models!</div>
                                                                                <div style="color:#0076A8">Match Confirmed: @item.modMacConf</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="list-group">
                                                                    <a href="#" class="list-group-item" onclick="PopupCenterDual(1)">
                                                                        <i class="fa fa-gears fa-fw"></i><span style="padding-left:8px"> Equipment Manufacturers</span>
                                                                        <span class="pull-right text-muted small">
                                                                            <em><span style="color:#0076A8">In</span><span style="color:#F69240">Service</span></em>
                                                                        </span>
                                                                    </a>
                                                                    <a href="#" class="list-group-item" onclick="PopupCenterDual(2)">
                                                                        <i class="fa fa-sliders fa-fw"></i><span style="padding-left:8px"> Equipment Types</span>
                                                                        <span class="pull-right text-muted small">
                                                                            <em><span style="color:#0076A8">In</span><span style="color:#F69240">Service</span></em>
                                                                        </span>
                                                                    </a>
                                                                    <a href="#" class="list-group-item" onclick="PopupCenterDual(3)">
                                                                        <i class="fa fa-server fa-fw"></i><span style="padding-left:8px"> Equipment Models</span>
                                                                        <span class="pull-right text-muted small">
                                                                            <em><span style="color:#0076A8">In</span><span style="color:#F69240">Service </span></em>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <!-- /.list-group -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-payment-inner-st">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div style="padding-bottom:36px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Model:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xmodel" name="model" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div style="padding-bottom:36px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Model Description:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xdescr" name="descr" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div style="padding-bottom:36px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Model Manufacturer:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xmanuf" name="manuf" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div style="padding-bottom:36px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Department:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xowdep" name="owdep" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div style="padding-bottom:36px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Control Number:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xconnb" name="connb" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div style="padding-bottom:48px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Serial Number:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xsernb" name="sernb" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div>
                                            <button class="btn btn-warning col-lg-12" id="btnReseta"><i class="fa fa-refresh"></i> Reset All </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="min-height:1200px">
                                        <div class="admin-pro-accordion-wrap shadow-inner responsive-mg-b-30">
                                            <div class="panel-group edu-custon-design" id="accordion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Table Start -->
            <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="PrimaryModalhdbgcl" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header header-color-modal bg-color-1">
                                            <span class="modal-title" style="padding-left:44px; padding-top:12px; padding-right:16px; font-size:18px"><strong>Map Equipment Model:</strong></span>
                                            <b>
                                                <span style="color:#F69240; padding-right:6px">Device:</span><span style="color:white" id="modHd1a"></span>
                                                <span style="color:#F69240; padding-right:6px">Model:</span><span style="color:white" id="modHd2a"></span>
                                                <span style="color:#F69240; padding-right:6px">Manufacturer:</span><span style="color:white" id="modHd3a"></span>
                                            </b>
                                            <span class="pull-right" style="padding-right:44px">
                                                <button class="btn btn-success btnCompl" id="btm_"><i class="fa fa-save" style="transform:scale(1.4)"></i><span style="padding-left:12px">Complete Mapping!</span></button>
                                                <button class="btn btn-danger btnQuit" id="btq_"><i class="fa fa-close" style="transform:scale(1.4)"></i><span style="padding-left:12px">Quit!</span></button>

                                            </span>
                                            <div class="modal-close-area modal-close-df">
                                                <a class="close btnQuit" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="modal-body">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="text-align:left !important">

                                                    <h5 class="page-header"><span style="color:#0076A8">Select </span><span style="color:#F69240"> option:</span><span style="color:#F69240">: In</span><span style="color:#0076A8">Service</span></h5>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:6px">
                                                                    <label style="font-size:11px; color:#F69240; padding-top:4px">Eq.Manuf:</label>
                                                                </div>
                                                                <div class="col-lg-10" id="diva_">
                                                                    <select id="dpa_" class="chosen-select" tabindex="-1" style="color:#0076A8" onchange="dpSelect(1)">
                                                                        <option value="0">-</option>
                                                                        @foreach(var item in ViewBag.datag)
                                                                        {
                                                                            if(@item.ID == 1)
                                                                            {
                                                                                <option value="@item.IDNK">@item.Desc</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:6px">
                                                                    <label style="font-size:11px; color:#F69240; padding-top:4px">Eq.Type:</label>
                                                                </div>
                                                                <div class="col-lg-10" id="divb_">
                                                                    <select id="dpb_" class="chosen-select" tabindex="-1" style="color:#0076A8" onchange="dpSelect(2)">
                                                                        <option value="0">-</option>
                                                                        @foreach(var item in ViewBag.datag)
                                                                        {
                                                                            if(@item.ID == 2)
                                                                            {
                                                                                <option value="@item.IDNK">@item.Desc</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:6px">
                                                                    <label style="font-size:11px; color:#F69240; padding-top:4px">Eq.Model:</label>
                                                                </div>
                                                                <div class="col-lg-10" id="divc_">
                                                                    <select id="dpc_" class="form-control" tabindex="-1" style="color:#0076A8; font-size:13px; border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; max-height:38px" onchange="dpSelect(3)"></select>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left !important">
                                                    <h5 class="page-header"><span style="color:#0076A8">Result </span><span style="color:#F69240"> Data:</span></h5>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:2px" id="lb1">
                                                                    
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control col-lg-12" id="txa_" style="max-height:28px !important; font-size:12px; color:#0076A8" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:2px" id="lb2">
                                                                    <label id="la2" style="font-size:11px; color:#F69240; padding-top:4px">Eq.Type</label>
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control col-lg-12" id="txb_" style="max-height:28px !important; font-size:12px; color:#0076A8" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:2px" id="lb3">
                                                                    <label id="la3" style="font-size:11px; color:#F69240; padding-top:4px">Device</label>
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control col-lg-12" id="txc_" style="max-height:28px !important; font-size:12px; color:#0076A8" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom:2px">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-2" style="padding-top:2px" id="lb4">
                                                                    <label id="la4" style="font-size:11px; color:#F69240; padding-top:4px">Model</label>
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control col-lg-12" id="txd_" onkeyup="dpreset()" style="max-height:28px !important; font-size:12px; color:#0076A8" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:left !important">
                                                    <h5 class="page-header"><span style="color:#0076A8">Action </span><span style="color:#F69240">:</span></h5>
                                                    <input type="text" class="form-control col-lg-12" id="txm_" style="max-height:28px !important; font-size:12px; color:#0076A8" placeholder="Paste Model NK" />
                                                    <button class="btn btn-sm btn-default col-lg-12 findSingle" style="max-height:32px !important"><i class="fa fa-search"></i><span style="padding-left:12px">Search!</span></button>
                                                    @*<button class="btn btn-sm btn-info col-lg-12 btnCust" id="btc_" style="max-height:32px !important"><i class="fa fa-copy" style="transform:scale(1.2)"></i><span style="padding-left:12px">Use Customer Data!</span></button>*@
                                                    <button class="btn btn-sm btn-warning col-lg-12 btnReset" style="max-height:32px !important"><i class="fa fa-refresh" style="transform:scale(1.2)"></i><span style="padding-left:12px">Reset Selection!</span></button>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-12" style="padding-top:6px">
                                                    <table id="dt2" class="table table-hover table-responsive" style="font-size:11px">
                                                        <thead>
                                                            <tr style="color:#0076A8">
                                                                <th>Model Description</th>
                                                                <th>Model ID1</th>
                                                                <th>Model ID2</th>
                                                                <th>Status</th>
                                                                <th>Manufacturer</th>
                                                                <th>Eq.Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="background-color:white"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-lg-12" style="color:white; padding-bottom:2px">.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loadimage">
                <div class="loadmeRect">
                    <div class="loadmeRectChild loadmeRect1"></div>
                    <div class="loadmeRectChild loadmeRect2"></div>
                    <div class="loadmeRectChild loadmeRect3"></div>
                    <div class="loadmeRectChild loadmeRect4"></div>
                    <div class="loadmeRectChild loadmeRect5"></div>
                </div>
                @*<div class="loadme-mask"></div>*@
            </div>
        </div>
        @Html.Hidden("cntr")
        @Html.Hidden("cnsl")
        @Html.Hidden("impid")
        @Html.Hidden("typid")
        <!-- lckbckscr End -->
    </div>
    <!-- allpagewraper End -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- jquery
        ============================================ -->
    <script src="~/main/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/main/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/main/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/main/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/main/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/main/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/main/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/main/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/main/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/main/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/main/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/main/js/metisMenu/metisMenu-active.js"></script>
    <!-- Charts JS
        ============================================ -->
    <script src="~/main/js/charts/Chart.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <!-- data table JS
        ============================================ -->
    @*<script src="~/main/js/data-table/bootstrap-table.js"></script>
        <script src="~/main/js/data-table/tableExport.js"></script>
        <script src="~/main/js/data-table/data-table-active.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-editable.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-resizable.js"></script>
        <script src="~/main/js/data-table/colResizable-1.5.source.js"></script>
        <script src="~/main/js/data-table/bootstrap-table-export.js"></script>*@
    <!--  editable JS
        ============================================ -->
    <script src="~/main/js/editable/jquery.mockjax.js"></script>
    <script src="~/main/js/editable/mock-active.js"></script>
    <script src="~/main/js/editable/moment.min.js"></script>
    <script src="~/main/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/main/js/editable/bootstrap-editable.js"></script>
    <script src="~/main/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/main/js/chart/jquery.peity.min.js"></script>
    <script src="~/main/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/main/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/main/js/icheck/icheck.min.js"></script>
    <script src="~/main/js/icheck/icheck-active.js"></script>
    <script src="~/main/js/form-validation/jquery.form.min.js"></script>
    <script src="~/main/js/form-validation/jquery.validate.min.js"></script>
    <script src="~/main/js/form-validation/form-active.js"></script>

    <!-- dropzone JS
        ============================================ -->
    <script src="~/main/js/dropzone/dropzone.js"></script>
    <!-- confirm JS

        ============================================ -->
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/main/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/main/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <!--<script src="/main/js/tawk-chat.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.loadimage').hide();
            $("#cntr").val(0);
            $("#cnsl").val(0);
            $("#impid").val(0);
            $("#typid").val(0);
            var dataa = @Html.Raw(Json.Encode(@ViewBag.dataa));
            var datab = @Html.Raw(Json.Encode(@ViewBag.datab));
            //console.log(datab);
            var partc = "</tbody></table></div></div></div>";
            $.each(dataa, function (ID, dataa) {
                var paca = [];
                var pacb = [];
                var pacc = [];
                if (dataa.cnta > 0) {
                    paca = "";
                } else {
                    paca = "; display: none"
                }
                if (dataa.cntb > 0) {
                    pacb = "";
                } else {
                    pacb = "; display: none"
                }
                if (dataa.cntc > 0) {
                    pacc = "";
                } else {
                    pacc = "; display: none"
                }
                var parta = "<div class='panel panel-default panelgr' id='p" + dataa.impTypeID + "'><div class='panel-heading accordion-head'><h4 class='panel-title'><a data-toggle='collapse' data-parent='#accordion' href='#T_" + dataa.impTypeID + "'><i class='fa fa-plus'></i><span style='padding-left:12px'> " + dataa.Device_Category + " </span></a><span class='pull-right' style='text-align: right'><i class='fa fa-check' style='color:green; transform:scale(1.3)" + paca + "' id='paa" + dataa.impTypeID + "'></i><span style='padding-left:8px; font-size:12px" + paca + "' id='pab" + dataa.impTypeID + "'>Matched: </span><span id='cnta_" + dataa.impTypeID + "' style='color:green; font-size:16px; padding-right:60px" + paca + "' data-id='" + dataa.cnta + "'><b> " + dataa.cnta + " </b></span><i class='fa fa-pencil-square-o' style='color:green; transform:scale(1.3)" + pacb + "' id='pba" + dataa.impTypeID + "'></i><span style='padding-left:8px; font-size:12px" + pacb + "' id='pbb" + dataa.impTypeID + "'>New: </span><span id='cntb_" + dataa.impTypeID + "' style='color:green; font-size:16px; padding-right:60px" + pacb + "' data-id='" + dataa.cntb + "'><b> " + dataa.cntb + " </b></span><i class='fa fa-close' style='color:red; transform:scale(1.3)" + pacc + "' id='pca" + dataa.impTypeID + "'></i><span style='padding-left:8px; font-size:12px" + pacc + "' id='pcb" + dataa.impTypeID + "'>Not Matched: </span><span id='cntc_" + dataa.impTypeID + "' style='color:red; font-size:16px" + pacc + "' data-id='" + dataa.cntc + "'><b> " + dataa.cntc + " </b></span></span></h4></div><div id='T_" + dataa.impTypeID + "' class='panel-collapse panel-ic collapse'><div class='panel-body admin-panel-content animated bounce'><table class='table table-responsive'><thead><tr style='color:#A4BCC2; font-size:11px'><th>Model:</th><th>Found:</th><th>Matched:</th><th>New:</th><th style='text-align: right'>Edit:</th></tr></thead><tbody>";
                var partb = [];
                $.each(datab, function (ID, datab) {
                    if (dataa.impTypeID == datab.impTypeID) {
                        if (datab.matchSingle == true) {
                            var insa = "<td style='padding-left:8px'><i class='fa fa-check' style='color:forestgreen'></i></td>";
                        } else {
                            var insa = "<td style='padding-left:8px'><i class='fa fa-close' style='color:lightpink'></i></td>";
                        }
                        if (datab.matchMultip == true) {
                            var insb = "<td style='padding-left:8px'><i class='fa fa-check' style='color:forestgreen'></i><span style='color:forestgreen'>" + datab.Cnt + " models </span></td>";
                        }
                        else {
                            var insb = "<td style='padding-left:8px'><i class='fa fa-close' style='color:lightpink'></i></td>";
                        }
                        if (datab.matchConfrm == true) {
                            var insc = "<i class='fa fa-check' id='ch_" + datab.modelImpID + "' style='color:forestgreen; transform:scale(2)' data-id='" + datab.matchConfrm + "'></i>";
                        }
                        else {
                            var insc = "<i class='fa fa-close' id='ch_" + datab.modelImpID + "' style='color:lightpink; transform:scale(1.3)' data-id='" + datab.matchConfrm + "'></i>";
                        }
                        if (datab.manualInput == true) {
                            var nwsc = "<span id='nw_" + datab.modelImpID + "' style='color:forestgreen'><b>NEW</b></span>";
                        }
                        else {
                            var nwsc = "<span id='nw_" + datab.modelImpID + "' style='color:white'>.</span>";
                        }
                        var partf = "<tr><td style='max-width:100%; white-space:nowrap'><table class='table-striped' style='font-size:12px'><thead></thead><tbody><tr><td><span style='color:#F69240'>Device:</span></td><td style='padding-left:8px'><span id='spDev_" + datab.modelImpID + "' style='color:#0076A8' data-id='" + datab.Device_Category + "'>" + datab.Device_Category + "</span></td></tr><tr><td><span style='color:#F69240'>Model:</span></td><td style='padding-left:8px'><span id='spMod_" + datab.modelImpID + "' style='color:#0076A8' data-id='" + datab.Model + "'>" + datab.Model + "</span></td></tr><tr><td><span style='color:#F69240'>Manufacturer:</span></td><td style='padding-left:8px'><span id='spMan_" + datab.modelImpID + "' style='color:darkgray' data-id='" + datab.Manufacturer + "'>" + datab.Manufacturer + "</span></td></tr></tbody></table></td><td><table class='table-striped' style='font-size:12px'><thead></thead><tbody><tr><td><span style='color:#F69240'>Found Single:</span></td>" + insa + "</tr><tr><td><span style='color:#F69240'>Found Multiple:</span></td>" + insb + "</tr></tbody></table></td><td style='padding-top:8px'>" + insc + "</td><td>" + nwsc + "</td><td style='padding-top:8px' align='right'><button class='btn btn-default btnactive' id='bte_" + datab.modelImpID + "' data-id='" + datab.impTypeID + "'><span style='color:#0076A8; padding-right:6px'>Edit</span><i class='fa fa-forward' style='color:darkseagreen'></i></button></td></tr>";
                        partb = partb + partf;
                    }
                });
                var html = parta + partb + partc;
                $("#accordion").append(html);
            });
            
        });
        function dpreset(a) {
            var dpc = "#dpc_" + a;
            var txc = "#txc_" + a;
            var txd = "#txd_" + a;
            $(dpc).val(0);
            $(txc).val("").html("").data("id", 0);
            $(txd).data("id", 0);
        };
        function PopupCenterDual(a) {
            var url = '/aglinvMap/equipManuf?ID=' + a;
            var w = 1640; var h = 736;
            var title = 'Inventory Mapping';
            // Fixes dual-screen position Most browsers Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
            width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }
        }
        function PopupCenterDualb(a) {
            var url = '/aglinvMap/docOverview?ID=' + a;
            var w = 1086; var h = 640;
            var title = 'Inventory Mapping: Document Overview';
            // Fixes dual-screen position Most browsers Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
            width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }
        }
        function PopupCenterDualc(a) {
            var url = '/aglinvMap/invCheckUp?IDC=1&ID=' + a;
            var w = 1386; var h = 828;
            var title = 'Inventory Mapping: Equipment CheckUp';
            // Fixes dual-screen position Most browsers Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
            width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }
        }
        function backToList() {
            window.location = "/aglinvMap/Index?projectID=15&taskOrderID=66&Int1=1";
        }
        function clearAndDestroy() {
            $("#dpa_").chosen("destroy");
            $("#dpb_").chosen("destroy");
            $("#dpa_").val("0").attr("selected", "selected");
            $("#dpb_").val("0").attr("selected", "selected");
            $("#dpc_").val("0").attr("selected", "selected");
            $("#txa_").val("").html("").data("id", "0");
            $("#txb_").val("").html("").data("id", "0");
            $("#txc_").val("").html("").data("id", "0");
            $("#txd_").val("").html("").data("id", "0");
            $("#txm_").val("").html("").data("id", "0");
            $('#dt2').find('tbody').detach();
            $("#dt2").dataTable().fnDestroy();
            
        }
        $(document).on('click', '.btnactive', function () {
            var btnf = $(this).attr("id").replace("bte_", "");
            var tpida = $(this).data("id");
            $('#dt2').find('tbody').detach();
            $("#dt2").dataTable().fnDestroy();
            var btn = parseInt(btnf);
            var tpid = parseInt(tpida);
            $("#impid").val(btn);
            $("#typid").val(tpid);
            var spDevb = "#spDev_" + btn; var spDev = $(spDevb).data("id");
            var spModb = "#spMod_" + btn; var spMod = $(spModb).data("id");
            var spManb = "#spMan_" + btn; var spMan = $(spManb).data("id");
            var dpa = "#dpa_";
            var dpb = "#dpb_";
            var dpc = "#dpc_";
            var txa = "#txa_";
            var txb = "#txb_";
            var txc = "#txc_";
            var txd = "#txd_";
            $("#la1").remove();
            $("#la2").remove();
            $("#la3").remove();
            $("#la4").remove();
            $("#lb1").empty();
            $("#lb2").empty();
            $("#lb3").empty();
            $("#lb4").empty();
            var docid = '@ViewBag.docID';
            //alert("test");
           $.ajax({
               url: '/aglinvMap/popDrop',
               type: "GET",
               dataType: "JSON",
               data: { a: docid, b: btn },
               success: function (data) {
                   
                   $.each(data, function (ID, data) {
                       if (data.ID == 11) {
                           
                           if (data.IDNK == null || data.IDNK == 0 || data.IDNK == "" || data.IDNK == "0") {
                               $(txa).val(data.Desc).html(data.Desc).data("id", 0);
                               $("#lb1").append("<label id='la1' style='font-size:11px; color:#F69240; padding-top:4px'>Eq.Manuf</label>");
                                   }
                           else {
                               //alert(data.IDNK);
                               //$("#dpa_").val(data.IDNK).change();
                               //$(dpa).prop('selectedIndex', data.IDNK);
                               
                               //var hs = data.IDNK; var hsa = hs.toString();
                               //alert(hsa);
                               $("#dpa_").val(data.IDNK).attr("selected", "selected");
                               //document.getElementById("dpa_").value = hsa;
                               $(txa).val(data.Desc).html(data.Desc).data("id", data.IDNK);
                               $("#lb1").append("<label id='la1' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Eq.Manuf</b></span></i></label>");
                                   }
                       } else if (data.ID == 12) {
                            if (data.IDNK == null || data.IDNK == 0 || data.IDNK == "" || data.IDNK == "0") {
                               $(txb).val(data.Desc).html(data.Desc).data("id", 0);
                                $("#lb2").append("<label id='la2' style='font-size:11px; color:#F69240; padding-top:4px'>Eq.Type</label>");
                                   }
                                   else {

                                //$(dpb).val(data.IDNK).change();
                               $(dpb).val(data.IDNK).attr("selected", "selected");
                               $(txb).val(data.Desc).html(data.Desc).data("id", data.IDNK);
                                $("#lb2").append("<label id='la2' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Eq.Type</b></span></i></label>");
                                   }
                       } else if (data.ID == 13) {
                           if (data.IDNK == null || data.IDNK == 0 || data.IDNK == "" || data.IDNK == "0") {
                               $(txc).val(data.Desc).html(data.Desc).data("id", 0);
                               $("#lb3").append("<label id='la3' style='font-size:11px; color:#F69240; padding-top:4px'>Device</label>");
                                   }
                           else {
                               $(dpc).append(
                                   $('<option></option>').val(data.IDNK).html(data.Desc));
                               $(dpc).val(data.IDNK).attr("selected", "selected");
                               $(txc).val(data.Desc).html(data.Desc).data("id", data.IDNK);
                               $("#lb3").append("<label id='la3' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Device</b></span></i></label>");
                                   }
                       } else if (data.ID == 14) {
                           if (data.IDNK == null || data.IDNK == 0 || data.IDNK == "" || data.IDNK == "0") {
                               $(txd).val(data.Desc).html(data.Desc).data("id", 0);
                               $("#lb4").append("<label id='la4' style='font-size:11px; color:#F69240; padding-top:4px'>Model</label>");
                                   }
                                   else {
                               $(txd).val(data.Desc).html(data.Desc).data("id", data.IDNK);
                               $("#lb4").append("<label id='la4' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Model</b></span></i></label>");
                                   }
                       }
                       else {
                                   return;
                               }
                   });
                   $("#modHd1a").val(spDev).html(spDev);
                   $("#modHd2a").val(spMod).html(spMod);
                   $("#modHd3a").val(spMan).html(spMan);
                   $.getScript("/main/js/chosen/chosen.jquery.min.js");
                   $.getScript("/main/js/chosen/chosen-active.js");
                   $("#impid").val(btn);
                   $('#PrimaryModalhdbgcl').modal('toggle');
               }
           });
        });

        function setLabels(a, b, c) {
            if (a == "0" || a == null || a == "") {
                $("#la1").remove();
                $("#lb1").empty().append("<label id='la1' style='font-size:11px; color:#F69240; padding-top:4px'>Eq.Manuf</label>");
            }
            else {
                $("#la1").remove();
                $("#lb1").empty().append("<label id='la1' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Eq.Manuf</b></span></i></label>");
            }
            if (b == "0" || b == null || b == "") {
                $("#la2").remove();
                $("#lb2").empty().append("<label id='la2' style='font-size:11px; color:#F69240; padding-top:4px'>Eq.Type</label>");
            }
            else {
                $("#la2").remove();
                $("#lb2").empty().append("<label id='la2' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Eq.Type</b></span></i></label>");
            }
            if (c == "0" || c == null || c == "") {
                $("#la3").remove();
                $("#la4").remove();
                $("#lb3").empty().append("<label id='la3' style='font-size:11px; color:#F69240; padding-top:4px'>Device</label>");
                $("#lb4").empty().append("<label id='la4' style='font-size:11px; color:#F69240; padding-top:4px'>Model</label>");
            }
            else {
                $("#la3").remove();
                $("#la4").remove();
                $("#lb3").empty().append("<label id='la3' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Device</b></span></i></label>");
                $("#lb4").empty().append("<label id='la4' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Model</b></span></i></label>");
            }
        }
        function getMod(a, b, c) {
            var dpc = "#dpc_";
            $.ajax({
                url: '/aglinvMap/getModels',
                type: "GET",
                dataType: "JSON",
                data: { a: a, b: b },
                success: function (data) {
                    $(dpc).empty();
                    $(dpc).append(
                        $('<option></option>').val("0").html("-"));
                    $.each(data, function (ID, data) {
                        $(dpc).append(
                            $('<option></option>').val(data.IDNK).html(data.Desc));
                    });
                    $(dpc).val(c).attr("selected", "selected");
                }
            });
        }
        function dpSelect(a) {
            var dpa = "#dpa_";
            var dpb = "#dpb_";
            var dpc = "#dpc_";
            var txa = "#txa_";
            var txb = "#txb_";
            var txc = "#txc_";
            var txd = "#txd_";
            var txm = "#txm_";
            var dpah = $('option:selected', dpa).text();
            var dpag = $('option:selected', dpa).val();
            var dpbh = $('option:selected', dpb).text();
            var dpbg = $('option:selected', dpb).val();
            var dpch = $('option:selected', dpc).text();
            var dpcg = $('option:selected', dpc).val();
            
            setLabels(dpag, dpbg, dpcg);
            
            $(dpa).val(dpag).attr("selected", "selected");
            $(txa).val(dpah).html(dpah).data("id", dpag);
            $(dpb).val(dpbg).attr("selected", "selected");
            $(txb).val(dpbh).html(dpbh).data("id", dpbg);

            getMod(dpag, dpbg, dpcg);
            $(txc).val(dpch).html(dpch).data("id", dpcg);
            $(txd).val(dpch).html(dpch).data("id", dpcg);
            $(txm).val("").html("");
            popTable(dpag, dpbg, dpcg);
        };
        function popTable(a, b, c) {
            $('#dt2').find('tbody').detach();
            $('#dt2').append($('<tbody>').css('background-color', 'white'));
            $.ajax({
                url: '/aglinvMap/SearchList',
                type: "GET",
                dataType: "JSON",
                data: { ida: a, idb: b, idc: c },
                success: function (resp) {
                    $.each(resp, function (ID, resp) {
                        $("#dt2 tbody").append("<tr><td style='text-align:left; max-width:100%; white-space:nowrap'><a href='#' onclick='getNK(\"" + resp.ModelNK + "\")'>" + resp.ModelDescription + "</a></a></td><td style='color:#0076A8; text-align:left; max-width:100%; white-space:nowrap'>" + resp.modelID1 + "</td><td style='color:#0076A8; text-align:left; max-width:100%; white-space:nowrap'>" + resp.ModelID2 + "</td><td style='text-align:left'>" + resp.Status + "</td><td style='text-align:left; max-width:100%; white-space:nowrap'>" + resp.manufacturer + "</td><td style='text-align:left; max-width:100%; white-space:nowrap'>" + resp.equipmentType + "</td></tr>");
                    });
                    $("#dt2").dataTable().fnDestroy();
                    $("#dt2").DataTable({
                        "order": [[0, "asc"]]
                    });
                }
            });
        };
        $(document).on('click', '.btnReset', function (e) {
            e.preventDefault();
            clearLabels();
            clearAndDestroy();
            $.getScript("/main/js/chosen/chosen.jquery.min.js");
            $.getScript("/main/js/chosen/chosen-active.js");
        });
        $(document).on('click', '.btnCust', function (e) {
            e.preventDefault();
            var b = $("#impid").val();
            $("#txa_").val("").html("").data("id", "0");
            $("#txc_").val("").html("").data("id", "0");
            $("#txd_").val("").html("").data("id", "0");
            $("#txm_").val("").html("").data("id", "0");
            var sp1 = "#spDev_" + b;
            var sp2 = "#spMod_" + b;
            var sp3 = "#spMan_" + b;
            var spDev = $(sp1).data("id");
            var spMod = $(sp2).data("id");
            var spMan = $(sp3).data("id");
            $("#txa_").val(spMan).html(spMan);
            $("#txc_").val(spDev).html(spDev);
            $("#txd_").val(spMod).html(spMod);
            $("#dpa_").val("0");
            $("#dpb_").val("0");
            $("#dpc_").val("0");
            clearLabels();
        });
        $(document).on('click', '.findSingle', function (e) {
            e.preventDefault();
            var b = $(this).data("id");
            var dpa = "#dpa_";
            var dpb = "#dpb_";
            var dpc = "#dpc_";
            var txa = "#txa_";
            var txb = "#txb_";
            var txc = "#txc_";
            var txd = "#txd_";
            var txm = "#txm_";
            var a = $(txm).val().replace(/(\r\n\t|\n|\r\t)/gm, " ");
            $.ajax({
                url: '/aglinvMap/findSingle',
                type: "GET",
                dataType: "JSON",
                data: { a: a },
                success: function (data) {
                    $(dpa).html("");
                    $(dpb).html("");
                    $(dpc).html("");
                    $(txa).val("").html("");
                    $(txb).val("").html("");
                    $(txc).val("").html("");
                    $(txd).val("").html("");
                    $.each(data, function (ID, data) {
                        $(txa).val(data.Manufacturer).html(data.Manufacturer).data("id", data.ManufacturerNK);
                        $(txb).val(data.equipmentType).html(data.equipmentType).data("id", data.equipmentTypeNK);
                        $(txc).val(data.ModelDescription).html(data.ModelDescription).data("id", data.ModelNK);
                        $(txd).val(data.modelID1).html(data.modelID1).data("id", data.ModelNK);
                        $(dpa).append(
                            $('<option></option>').val(data.ManufacturerNK).html(data.Manufacturer));
                        $(dpb).append(
                            $('<option></option>').val(data.equipmentTypeNK).html(data.equipmentType));
                        $(dpc).append(
                            $('<option></option>').val(data.ModelNK).html(data.ModelDescription));
                    });
                    $(txm).val("").html("");
                    setLabele();
                }
            });
        });
        $(document).on('click', '.btnCompl', function (e) {
            e.preventDefault();
            var b = $("#impid").val();
            var g = $("#typid").val(); var ga = parseInt(g);

            var docID = '@ViewBag.docID';
            var dpa = "#dpa_";
            var dpb = "#dpb_";
            var dpc = "#dpc_";
            var txa = "#txa_"; var txaf = $(txa).data("id"); var txav = $(txa).val().replace(/(\r\n\t|\n|\r\t)/gm, " ");
            var txb = "#txb_"; var txbf = $(txb).data("id"); var txbv = $(txb).val().replace(/(\r\n\t|\n|\r\t)/gm, " ");
            var txc = "#txc_"; var txcf = $(txc).data("id"); var txcv = $(txc).val().replace(/(\r\n\t|\n|\r\t)/gm, " ");
            var txd = "#txd_"; var txdf = $(txd).data("id"); var txdv = $(txd).val().replace(/(\r\n\t|\n|\r\t)/gm, " ");
            var ch = "#ch_" + b; var chf = $(ch).data("id");
            var cnta = "#cnta_" + ga; var cntaf = $(cnta).data("id");
            var cntb = "#cntb_" + ga; var cntbf = $(cntb).data("id");
            var cntc = "#cntc_" + ga; var cntcf = $(cntc).data("id");
            var paa = "#paa" + ga;
            var pab = "#pab" + ga;
            var pba = "#pba" + ga;
            var pbb = "#pbb" + ga;
            var pca = "#pca" + ga;
            var pcb = "#pcb" + ga;
            var nw = "#nw_" + b;
            if (txdf == 0 || txdf == "0" || txdf == null) {
                var stra = docID + "<|>" + b + "<|>" + txaf + "<|>" + txbf + "<|>" + txcf + "<|>" + txdf + "<|>" + txav + "<|>" + txbv + "<|>" + txcv + "<|>" + txdv;
                $.ajax({
                    url: '/aglinvMap/comMap',
                    type: "GET",
                    dataType: "JSON",
                    data: { a: 0, b: stra },
                    success: function (ddID) {
                        alert("Success!");
                        $(ch).removeClass('fa-close').addClass('fa-check').css('color', 'forestgreen');
                        if (chf == true) {
                            return;
                        }
                        else {
                            $(cntb).val(cntbf + 1).html(cntbf + 1).data("id", cntbf + 1).css('font-weight', 'bold');
                            $(pba).show();
                            $(pbb).show();
                            $(cntb).show();
                            $(cntc).val(cntcf - 1).html(cntcf - 1).data("id", cntcf - 1).css('font-weight', 'bold');
                            $(nw).html("").val("NEW").html("NEW").css('color', 'forestgreen').css('transform', 'scale(2)');
                            if ((cntcf - 1) < 1) {
                                $(pca).hide();
                                $(pcb).hide();
                                $(cntc).hide();
                            }
                        }
                    }
                });
            }
            else {
                var stra = docID + "<|>" + b + "<|>" + txdf;
                $.ajax({
                    url: '/aglinvMap/comMap',
                    type: "GET",
                    dataType: "JSON",
                    data: { a: 1, b: stra },
                    success: function (ddID) {
                        alert("Success!");
                        $(ch).removeClass('fa-close').addClass('fa-check').css('color', 'forestgreen').css('transform', 'scale(2)');
                        if (chf == true) {
                            return;
                        }
                        else {
                            $(cnta).val(cntaf + 1).html(cntaf + 1).data("id", cntaf + 1).css('font-weight', 'bold');
                            $(paa).show();
                            $(pab).show();
                            $(cnta).show();
                            $(cntc).val(cntcf - 1).html(cntcf - 1).data("id", cntcf - 1).css('font-weight', 'bold');
                            if ((cntcf - 1) < 1) {
                                $(pca).hide();
                                $(pcb).hide();
                                $(cntc).hide();
                            }
                        }
                    }
                });
            }
            $('#PrimaryModalhdbgcl').modal('hide');
            $('#dt2').find('tbody').detach();
            $("#dt2").dataTable().fnDestroy();
        });
        
        $('#PrimaryModalhdbgcl').on('hidden.bs.modal', function () {
            clearAndDestroy();
        });
        $(document).on('click', '.btnQuit', function (e) {
            e.preventDefault();
            $('#PrimaryModalhdbgcl').modal('hide');
        });
        function getNK(a) {
            var dpa = "#dpa_";
            var dpb = "#dpb_";
            var dpc = "#dpc_";
            var txa = "#txa_";
            var txb = "#txb_";
            var txc = "#txc_";
            var txd = "#txd_";
            var txm = "#txm_";
            $.ajax({
                url: '/aglinvMap/findSingle',
                type: "GET",
                dataType: "JSON",
                data: { a: a },
                success: function (data) {
                    $(txa).val("").html("");
                    $(txb).val("").html("");
                    $(txc).val("").html("");
                    $(txd).val("").html("");
                    $(txm).val("").html("");
                    $.each(data, function (ID, data) {
                        $(txa).val(data.Manufacturer).html(data.Manufacturer).data("id", data.ManufacturerNK);
                        $(txb).val(data.equipmentType).html(data.equipmentType).data("id", data.equipmentTypeNK);
                        $(txc).val(data.ModelDescription).html(data.ModelDescription).data("id", data.ModelNK);
                        $(txd).val(data.modelID1).html(data.modelID1).data("id", data.ModelNK);
                        $("#dpa_").val(data.ManufacturerNK).attr("selected", "selected");
                        $("#dpb_").val(data.equipmentTypeNK).attr("selected", "selected");
                        $("#dpc_").append(
                            $('<option></option>').val("0").html("-"));
                        $("#dpc_").append(
                            $('<option></option>').val(data.ModelNK).html(data.ModelDescription));
                        $("#dpc_").val(data.ModelNK).attr("selected", "selected");
                    });
                    
                }
            });
            setLabele();
        };
        function clearLabels() {
            $("#la1").remove();
            $("#lb1").append("<label id='la1' style='font-size:11px; color:#F69240; padding-top:4px'>Eq.Manuf</label>");
            $("#la2").remove();
            $("#lb2").append("<label id='la2' style='font-size:11px; color:#F69240; padding-top:4px'>Eq.Type</label>");
            $("#la3").remove();
            $("#lb3").append("<label id='la3' style='font-size:11px; color:#F69240; padding-top:4px'>Device</label>");
            $("#la4").remove();
            $("#lb4").append("<label id='la4' style='font-size:11px; color:#F69240; padding-top:4px'>Model</label>");
        };
        function setLabele() {
            $("#la1").remove();
            $("#lb1").append("<label id='la1' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Eq.Manuf</b></span></i></label>");
            $("#la2").remove();
            $("#lb2").append("<label id='la2' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Eq.Type</b></span></i></label>");
            $("#la3").remove();
            $("#lb3").append("<label id='la3' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Device</b></span></i></label>");
            $("#la4").remove();
            $("#lb4").append("<label id='la4' style='font-size:11px; color:green; padding-top:4px'><i class='fa fa-check'><span style='padding-left=8px; font-size: 12px'><b>Model</b></span></i></label>");
        };
        $('.inputs').on('keyup', function () {
            var a = $("#xmodel").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var al = a.length;
            var b = $("#xdescr").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var bl = b.length;
            var c = $("#xmanuf").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var cl = c.length;
            var d = $("#xowdep").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var dl = d.length;
            var e = $("#xconnb").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var el = e.length;
            var f = $("#xsernb").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var fl = f.length;
            if (((a == null || a == '' || a == ' ') && (b == null || b == '' || b == ' ') && (c == null || c == '' || c == ' ') && (d == null || d == '' || d == ' ') && (e == null || e == '' || e == ' ') && (f == null || f == '' || f == ' ')) || (al < 2 && bl < 3 && cl < 2 && dl < 2 && el < 2 && fl < 2)) {
                $('.panelgr').show();
                return;
            }
            $.ajax({
                url: '/aglinvMap/findTypeId',
                type: "GET",
                dataType: "JSON",
                data: { ID: '@ViewBag.docID', a: a, b: b, c: c, d: d, e: e, f: f  },
                success: function (data) {
                    $('.panelgr').hide();
                    $.each(data, function (ID, data) {
                        var elem = "#p" + data.impTypeID;
                        $(elem).show();
                    });
                }
            });
        });
        $("#btnReseta").on('click', function () {
            $("#xmodel").val("").html("");
            $("#xdescr").val("").html("");
            $("#xmanuf").val("").html("");
            $("#xowdep").val("").html("");
            $("#xconnb").val("").html("");
            $("#xsernb").val("").html("");
            $('.panelgr').hide();
            $('.panelgr').show();
        });
    </script>

</body>

</html>
