
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agiliti: Customer Inventory Mapping</title>
    <link href="~/css/w3.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/css/metisMenu.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/startmin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    @*<link href="~/css/morris.css" rel="stylesheet">*@
    <link href="~/lib/highlightjs/github.css" rel="stylesheet">
    <link href="~/lib/morris.js/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/dist/style/loadme.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/leaflet.css" />

    <style>
        footer {
            display: none;
        }

        .buttonb {
            margin: 0 auto;
            font-size: 2.0rem;
            padding: 1.25rem 2.5rem;
            display: block;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #009ac9;
            color: #009ac9;
            font-weight: bold;
            min-height: 200px;
            min-width: 220px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .buttonb:hover {
                background-color: #009ac9;
                color: #ffffff;
                border-color: #009ac9;
            }

        .responsiveimg {
            width: 100%;
            height: auto;
        }

        .startbtn {
            display: none;
        }

        .loadDiv {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 6000;
            text-align: center;
        }
        .inputb {
            color: #0076A8;
            font-size: 12px;
            min-height:28px;
            padding-left: 6px;
            border: solid;
            border-width: thin;
            border-color: lightsteelblue;
        }
    </style>
</head><!--/head-->
<body id="home" class="homepage">
    <div class="lckbckscr">
        <div id="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="page-header">
                            <span style="color:#0076A8">Equipment </span><span style="color:#F69240"> Unit </span><span style="color:#0076A8"> CheckUP: </span>
                            <span class="pull-right">
                                <span style="color:#F69240; font-size:13px"> DocID: </span><span style="color:#0076A8; font-size:13px"> @ViewBag.docID</span>
                                <span style="color:#F69240; font-size:13px"> AccountID: </span><span style="color:#0076A8; font-size:13px"> @ViewBag.accountID</span>
                                <span style="color:#F69240; font-size:13px"> Customer Name: </span><span style="color:#0076A8; font-size:13px"> @ViewBag.account</span>
                                <span style="color:#F69240; font-size:13px"> Date: </span><span style="color:#0076A8; font-size:13px"> @ViewBag.date</span>
                            </span>
                        </h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row" style="padding-bottom:12px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Model:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xmodel" name="model" placeholder="... type 2 or more characters" />
                                            
                                        </div>
                                        
                                        <div class="row" style="padding-bottom:12px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Model Description:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xdescr" name="descr" placeholder="... type 2 or more characters" />
                                        </div>
                                        
                                        <div class="row" style="padding-bottom:12px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Model Manufacturer:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xmanuf" name="manuf" placeholder="... type 2 or more characters" />
                                        </div>
                                        

                                        <div class="row" style="padding-bottom:12px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Owner Department:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xowdep" name="owdep" placeholder="... type 2 or more characters" />
                                        </div>
                                        

                                        <div class="row" style="padding-bottom:12px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Scheduling Department:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xscdep" name="scdep" placeholder="... type 2 or more characters" />
                                        </div>
                                        

                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row" style="padding-bottom:8px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Control Number:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xconnb" name="connb" placeholder="... type 2 or more characters" />
                                        </div>
                                        <div class="row" style="padding-bottom:12px; padding-left:12px; padding-right:12px">
                                            <label style="font-size:12px"><span style="color:#F69240">by </span><span style="color:#0076A8"> Serial Number:</span></label>
                                            <br>
                                            <input type="text" class="col-lg-12 inputb inputs" id="xsernb" name="sernb" placeholder="... type 2 or more characters" />
                                        </div>



                                    </div>
                                </div>
                                <button class="btn btn-warning col-lg-12" id="btnReset"><i class="fa fa-refresh"></i> Reset All </button>
                            </div>
                            <div class="col-lg-10">
                                <table class="data table table-responsive" id="dt1">
                                    <thead>
                                        <tr style="color:#0076A8; font-size:11px">
                                            <th><span style="color:#0076A8">Customer </span><span style="color:#F69240"> Data:</span></th>
                                            <th><span style="color:#0076A8">InService </span><span style="color:#F69240"> Data:</span></th>
                                            <th><span style="color:#0076A8">Device </span><span style="color:#F69240"> Info:</span></th>
                                            <th><span style="color:white">.</span></th>
                                            <th><span style="color:#0076A8">CheckUp </span><span style="color:#F69240"> Unit:</span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--/# data handler java script-->
    <!--/# data handler java script-->
    <script src="~/js/uhsHome/jquery.js"></script>
    <script src="~/js/uhsHome/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/uhsHome/owl.carousel.min.js"></script>
    <script src="~/js/uhsHome/mousescroll.js"></script>
    <script src="~/js/uhsHome/jquery.prettyPhoto.js"></script>
    <script src="~/js/uhsHome/jquery.isotope.min.js"></script>
    <script src="~/js/uhsHome/jquery.inview.min.js"></script>
    <script src="~/js/uhsHome/wow.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!-- iCheck -->
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/startmin.js"></script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#dt1').dataTable({
                    //"order": [[1, "asc"]]
                    //"order": [[0, "desc"]]
                });

            });
        </script>*@

    <script>
        function btnConfirm(a, b) {
            var idc = [];
            var title = [];
            var parta = [];
            var diva = "#div_" + a;
            if (b == false) {
                b = true;
                idc = 1;
                title = "Check IN!";
                parta = "<div style='padding-top:8px; padding-bottom:8px' id='div_" + a + "'><span style='padding-left:6px'><i class='fa fa-check' style='color:forestgreen; transform:scale(2.4)'></i></span><span style='padding-left:12px; color:forestgreen; font-size:18px'><b>Checked IN!</b></span></div><div><button class='btn btn-sm btn-default col-lg-12' onclick='btnConfirm(\"" + a + "\"," + b + ")'>Check OUT <i class='fa fa-forward' style='color:red'></i></button></div>";
            }
            else {
                b = false;
                idc = 0;
                title = "Check OUT!";
                parta = "<div style='padding-top:8px; padding-bottom:8px' id='div_" + a + "'><span style='padding-left:6px'><i class='fa fa-close' style='color:lightpink; transform:scale(2.2)'></i></span><span style='padding-left:12px; color:lightpink; font-size:18px'><b>NOT Checked!</b></span></div><div><button class='btn btn-sm btn-default col-lg-12' onclick='btnConfirm(\"" + a + "\"," + b + ")'>Check IN <i class='fa fa-backward' style='color:forestgreen'></i></button></div>";
            }
            $.confirm({
                title: title,
                content: 'Please Confirm?',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: '/aglinvMap/checkSingle',
                            type: "GET",
                            dataType: "JSON",
                            data: { IDC: idc, IDA: a },
                            success: function (ddID) {
                                if (ddID == 1) {
                                    $(diva).empty();
                                    $(diva).append(parta);
                                }
                                else {
                                    alert("Error: Failed to delete document!");
                                }
                            }
                        });
                    },
                    cancel: function () {
                    }

                }
            });
        }
    </script>
    
    <script type="text/javascript">
        $('.inputs').on('keyup', function () {
            var a = $("#xmodel").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var al = a.length;
            var b = $("#xdescr").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var bl = b.length;
            var c = $("#xmanuf").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var cl = c.length;
            var d = $("#xowdep").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var dl = d.length;
            var e = $("#xscdep").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var el = e.length;
            var f = $("#xconnb").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var fl = f.length;
            var g = $("#xsernb").val().replace(/(\r\n\t|\n|\r\t)/gm, " "); var gl = g.length;          
            if (((a == null || a == '' || a == ' ') && (b == null || b == '' || b == ' ') && (c == null || c == '' || c == ' ') && (d == null || d == '' || d == ' ') && (e == null || e == '' || e == ' ') && (f == null || f == '' || f == ' ') && (g == null || g == '' || g == ' ')) || (al < 2 && bl < 3 && cl < 2 && dl < 2 && el < 2 && fl < 2 && gl < 2)) {
                $('#dt1').find('tbody').detach();
                return;
            }
            $('#dt1').find('tbody').detach();
            $('#dt1').append($('<tbody>').css('background-color', 'white'));
            $.ajax({
                url: '/aglinvMap/checkFind',
                type: "GET",
                dataType: "JSON",
                data: { ID: '@ViewBag.docID', a: a, b: b, c: c, d: d, e: e, f: f, g: g  },
                success: function (data) {
                    $.each(data, function (ID, data) {
                        var parta = [];
                        var b = data.CH;
                        if (data.CH == true) {
                            parta = "<div id='div_" + data.ID + "'><div style='padding-top:8px; padding-bottom:8px'><span style='padding-left:6px'><i class='fa fa-check' style='color:forestgreen; transform:scale(2.4)'></i></span><span style='padding-left:12px; color:forestgreen; font-size:18px'><b>Checked IN!</b></span></div><div><button class='btn btn-sm btn-default col-lg-12' onclick='btnConfirm(\"" + data.ID + "\"," + b + ")'>Check OUT <i class='fa fa-forward' style='color:red'></i></button></div></div>";
                        }
                        else {
                            parta = "<div id='div_" + data.ID + "'><div style='padding-top:8px; padding-bottom:8px'><span style='padding-left:6px'><i class='fa fa-close' style='color:lightpink; transform:scale(2.2)'></i></span><span style='padding-left:12px; color:lightpink; font-size:18px'><b>NOT Checked!</b></span></div><div><button class='btn btn-sm btn-default col-lg-12' onclick='btnConfirm(\"" + data.ID + "\"," + b + ")'>Check IN <i class='fa fa-backward' style='color:forestgreen'></i></button></div></div>";
                        }
                        $("#dt1 tbody").append("<tr style='background-color:white !important'><td><span style='color:#F69240; font-size:11px'>Device:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.DA + "</span><br><span style='color:#F69240; font-size:11px'>Model:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.MA + "</span><br><span style='color:#F69240; font-size:11px'>Type:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.TA + "</span><br><span style='color:#F69240; font-size:11px'>Manuf.:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.FA + "</span></td><td><span style='color:#F69240; font-size:11px'>Device:</span><span style='color:cadetblue; font-size:11px; padding-left:8px'>" + data.DB + "</span><br><span style='color:#F69240; font-size:11px'>Model:</span><span style='color:cadetblue; font-size:11px; padding-left:8px'>" + data.MB + "</span><br><span style='color:#F69240; font-size:11px'>Type:</span><span style='color:cadetblue; font-size:11px; padding-left:8px'>" + data.TB + "</span><br><span style='color:#F69240; font-size:11px'>Manuf.:</span><span style='color:cadetblue; font-size:11px; padding-left:8px'>" + data.FB + "</span></td><td><span style='color:#F69240; font-size:11px'>Control#:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RA + "</span><br><span style='color:#F69240; font-size:11px'>Owner Dept.:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RB + "</span><br><span style='color:#F69240; font-size:11px'>Sched. Dept.:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RC + "</span><br><span style='color:#F69240; font-size:11px'>Status:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RF + "</span></td><td><span style='color:#F69240; font-size:11px'>Serial#:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RD + "</span><br><span style='color:#F69240; font-size:11px'>SN Modif.:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RE + "</span><br><span style='color:#F69240; font-size:11px'>Risk Group:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RG + "</span><br><span style='color:#F69240; font-size:11px'>Asset Cnt.:</span><span style='color:#0076A8; font-size:11px; padding-left:8px'>" + data.RH + "</span></td><td>" + parta + "</td></tr>");
                    });
                }
            });
        });
        $("#btnReset").on('click', function () {
            $("#xmodel").val("").html("");
            $("#xdescr").val("").html("");
            $("#xmanuf").val("").html("");
            $("#xowdep").val("").html("");
            $("#xscdep").val("").html("");
            $("#xconnb").val("").html("");
            $("#xsernb").val("").html("");
            $('#dt1').find('tbody').detach();
        });
    </script>
    

</body>
</html>