
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UHS: SYSADM: Add Account Location</title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @Html.Action("_upperLeftHeader", "formsCRUD")
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        @Html.Action("_upperProfile", "formsCRUD")
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu menu_fixed">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                @Html.Action("_sidebarDropDownMenu", "formsCRUD")
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @Html.Action("_sidebarFooter", "formsCRUD")
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    @Html.Action("_upperBaseMenu", "formsCRUD")
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>UHS: SYSADM: Add Account Location to App</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        @if (ViewBag.dctp == 1)
                                        {
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <span style="color:steelblue; font-size:42px">Asset</span><span style="color:darkorange; font-size:42px">360</span>
                                            </div>
                                        }
                                        else
                                            if (ViewBag.dctp == 2)
                                        {
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <span style="color:steelblue; font-size:42px">BioMed</span><span style="color:darkorange; font-size:42px">360</span>
                                            </div>
                                        }
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    @Html.Label("Region", "Region:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("Region", new { htmlAttributes = new { id = "dataReg", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Division", "Division:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("Division", new { htmlAttributes = new { id = "dataDiv", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("District", "District:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("District", new { htmlAttributes = new { id = "dataDist", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Account", "Account#:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("Account", new { htmlAttributes = new { id = "dataAcc", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                        @*@Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })*@
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Customer", "Customer:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("Customer", new { htmlAttributes = new { id = "dataCust", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Address", "Address:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("Address", new { htmlAttributes = new { id = "dataAdr", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("City", "City:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("City", new { htmlAttributes = new { id = "dataCit", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("State", "State:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("State", new { htmlAttributes = new { id = "dataSta", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Phone", "Phone:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("Phone", new { htmlAttributes = new { id = "dataPho", @class = "form-control", @readonly = "readonly", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 480px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Week", "Week Type:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("Week", ViewBag.wchk as IEnumerable<SelectListItem>, new { id = "wchka", style = "padding-left:10px; padding-right:10px; height: 40px; min-width: 240px; border-color: lightgray; border-style:solid; border-width:thin;" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("LAT", "LAT:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("LAT", new { htmlAttributes = new { id = "dataLat", @class = "form-control latlngcalc", @type = "text", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 240px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("LNG", "LNG:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("LNG", new { htmlAttributes = new { id = "dataLng", @class = "form-control latlngcalc", @type = "text", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 240px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("utco", "UTC:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.Editor("utco", new { htmlAttributes = new { id = "dataUtco", @class = "form-control", @type = "number", @style = "padding-left:10px; padding-right:10px; height: 36px; max-width: 80px; border-color: lightgray; border-style:solid; border-width:thin;" } })
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <div class="form-group">
                                                    <div class="col-md-2" style="color:white">
                                                        .
                                                    </div>
                                                    <div class="col-md-10">
                                                        <button class="btnSave02 btn btn-default col-lg-4" style="min-height:42px"><span style="color:steelblue; padding-right:20px">Add to App! </span><i class="fa fa-arrow-right" style="color:forestgreen; transform:scale(1.6)"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">
                                        | <a href="" class="backDoc">Cancel and Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /page content -->
    <!-- footer content -->
    <!-- /footer content -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- ECharts -->
    <script src="~/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/vendors/echarts/map/js/world.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            var data1 = @Html.Raw(Json.Encode(@ViewBag.data1));
            $.each(data1, function (IDc, data1)
            {
                $("#dataReg").val(data1.REG).html(data1.REG);
                $("#dataDiv").val(data1.DIV).html(data1.DIV);
                $("#dataDist").val(data1.DIST).html(data1.DIST);
                $("#dataAcc").val(data1.IDc).html(data1.IDc);
                $("#dataCust").val(data1.CUST).html(data1.CUST);
                $("#dataAdr").val(data1.ADDR).html(data1.ADDR);
                $("#dataCit").val(data1.CITY).html(data1.CITY);
                $("#dataSta").val(data1.STAT).html(data1.STAT);
                $("#dataPho").val(data1.PHON).html(data1.PHON);
                $("#wchka").val(data1.wchk);
                $("#dataUtco").val(data1.utco);
                $("#dataLat").val(data1.LAT);
                $("#dataLng").val(data1.LNG);

            });
        });
    </script>
    <script type="text/javascript">
        $(".btnSave02").on('click', function (e) {
            e.preventDefault();
            postDoc();
        });
        function postDoc() {
            var IDc = @ViewBag.IDc;
            var wchk = $("#wchka").val();
            var dctp = @ViewBag.dctp;
            var lat = $("#dataLat").val();
            var lng = $("#dataLng").val();
            var utco = $("#dataUtco").val();
            $.ajax({
                url: '/uhslocations/SaveA360',
                type: "GET",
                dataType: "JSON",
                data: { IDc: IDc, actp: @ViewBag.dctp, wchk: wchk, lat: lat, lng: lng, utco: utco },
                success: function (conf) {
                    if(conf == 1){
                        if(dctp == 1){
                            window.location = "/uhslocations/IndexA360?projectID=6&taskOrderID=63&Int1=1";
                        }
                        else
                            if(dctp == 2){
                                window.location = "/uhslocations/IndexB360?projectID=6&taskOrderID=63&Int1=1";
                            }
                    }
                    else {
                        alert("Failed!");
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(".backDoc").on('click', function (e) {
            e.preventDefault();
            deleteAcc();
        });
        function deleteAcc() {
            var IDc = @ViewBag.IDc;
            $.ajax({
                url: '/uhslocations/clearResA360',
                type: "GET",
                dataType: "JSON",
                data: { IDc: IDc },
                success: function (conf) {
                    if(conf == 1){
                        window.location = "/uhslocations/IndexA360?projectID=6&taskOrderID=63&Int1=1";
                    }
                    else {
                        alert("Failed!");
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(".latlngcalc").on('change', function () {
            getutc();
        });
        function getutc() {
            var lat = $("#dataLat").val();
            var lng = $("#dataLng").val();
            $.ajax({
                url: '/uhsCH/latlngcalc',
                type: "GET",
                dataType: "JSON",
                data: { lat: lat, lng: lng },
                success: function (utc) {
                    $("#dataUtco").val(utc).html(utc);
                }
            });
        }
    </script>
</body>
</html>
