

@model List<TRIZMA.Models.UHSUSAC1B360Db>

@foreach (var item in Model)
{
    <tr>
        <td>
            @*<a href="#" class="editClick" data-id="@item.ID" style="color:forestgreen; padding-left:5px"><i class="fa fa-edit"></i></a>*@
            <a href="#" class="dellink" data-id="@item.ID" style="color:red; padding-left:8px"><i class="fa fa-trash-o" style="transform:scale(1.2)"></i></a>
        </td>
        <td>@Html.DisplayFor(modelItem => item.usdist)</td>
        <td>@Html.DisplayFor(modelItem => item.MGRID)</td>
        <td>@Html.DisplayFor(modelItem => item.agentName)</td>
        <td>@Html.DisplayFor(modelItem => item.orgStrL3)</td>
        <td>@Html.DisplayFor(modelItem => item.IDc)</td>
        <td>@Html.DisplayFor(modelItem => item.CUST)</td>
        <td>@Html.DisplayFor(modelItem => item.acdist)</td>
        <td>@Html.DisplayFor(modelItem => item.acdiv)</td>
    </tr>
}

