@*<li>
    <a style="font-weight:lighter; font-size:small; color:antiquewhite"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        @Html.Action("SBagPr", "formsCRUD")
    </ul>
</li>*@
<li>
    <a style="font-weight:lighter; font-size:small; color:antiquewhite"><i class="fa fa-sitemap"></i> Projects <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        @Html.Action("SBagPr", "formsCRUD")
    </ul>
</li>

@*<li>
    <a style="font-weight:lighter; font-size:small; color:antiquewhite"><i class="fa fa-desktop"></i> Visuals <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        @Html.Action("SBagPr", "formsCRUD")
    </ul>
</li>
<li>
    <a style="font-weight:lighter; font-size:small; color:antiquewhite"><i class="fa fa-table"></i> Data <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        @Html.Action("SBagPr", "formsCRUD")
    </ul>
</li>*@
<li>
    <a style="font-weight:lighter; font-size:small; color:antiquewhite"><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        @Html.Action("SBagPra", "formsCRUD")
    </ul>
</li>
